# Using the Panoptes Aggregation Tool from Zooniverse
https://aggregation-caesar.zooniverse.org/Scripts.html#scripts

In [28]:
from zooniverse.config import get_config
import pandas as pd
from pathlib import Path

### use either the subset of the subset
phase_tag = "Iguanas 1st launch"
data_folder = "./data/phase_1"

# phase_tag = "Iguanas 2nd launch"
# phase_tag = "Iguanas 3rd launch"
input_path = Path("/Users/christian/data/zooniverse")

# use_gold_standard_subset = "expert" # Use the expert-GS-Xphase as the basis
output_path = Path("/Users/christian/data/zooniverse/2024_04_10_analysis").joinpath(phase_tag).resolve()

output_plot_path = output_path.joinpath("plots")
output_plot_path.mkdir(parents=True, exist_ok=True)

config = get_config(phase_tag=phase_tag, input_path=input_path, output_path=output_path)


config

{'annotations_source': PosixPath('/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv'),
 'goldstandard_data': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv'),
 'gold_standard_image_subset': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv'),
 'image_source': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch'),
 'yes_no_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/yes_no_dataset_Iguanas 1st launch.csv'),
 'flat_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/flat_dataset_Iguanas 1st launch.csv'),
 'flat_panoptes_points': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/flat_panoptes_points_Iguanas 1st launch.csv'),
 'merged_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv'),
 'gold_standard_and_expert_count': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_gold_standard_and_expert_count.csv'),
 'comparison_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_method_comparison.csv'),
 'method_sums': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_method_sums.csv'),
 'rmse_errors': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_rmse_errors.csv'),
 'dbscan_hyperparam_grid': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_hyperparam_grid.csv')}

# Look into the subjects file
This contains the mappings from the subject_id to the image file

In [3]:
df_subjects = pd.read_csv("./data/zooniverse/iguanas-from-above-subjects.csv", sep=",")
df_subjects

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3635367931.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subjects = pd.read_csv("./data/zooniverse/iguanas-from-above-subjects.csv", sep=",")

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC
...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC

In [4]:
gold_standard_path = config["goldstandard_data"]
df_gold_standard = pd.read_csv(gold_standard_path, sep=";")
df_gold_standard

,subspecies,island,site_name,subject_group,image_name,subject_id,presence_absence,count_male-lek,count_male-no-lek,count_others,count_partial,count_total,quality,condition,comment
0,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_282.jpg,47969795,Y,0,2,0,2,2,Good,Hard,NaN
1,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-1_344.jpg,47969531,Y,0,2,2,1,4,Good,Hard,not consider number 4 marked in the image
2,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_270.jpg,47969760,Y,0,0,0,1,0,Good,Hard,NaN
3,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_289.jpg,47969815,Y,0,0,0,1,0,Good,Visible,NaN
4,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_291.jpg,47969821,Y,0,0,0,1,0,Good,Hard,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_95.jpg,47990261,N,0,0,0,0,0,NaN,NaN,NaN
2729,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_96.jpg,47990268,N,0,0,0,0,0,NaN,NaN,NaN
2730,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_97.jpg,47990280,N,0,0,0,0,0,NaN,NaN,NaN
2731,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_98.jpg,47990285,N,0,0,0,0,0,NaN,NaN,NaN
2732,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_99.jpg,47990290,N,0,0,0,0,0,NaN,NaN,NaN

# Panoptes Data Extraction from Zooniverse

## Panoptes config

### Create the configuration files automatically

In [ ]:
# create a configuration file from the workflow
#!mkdir ./data/phase_1
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 14370 --min_version 0 --max_version 142.245 -d ./data/phase_1
# 
#!mkdir ./data/phase_2
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 20600 --min_version 0 --max_version 94.166 -d ./data/phase_2
# 
#!mkdir ./data/phase_3
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 22040 --min_version 0 --max_version 9.63 -d ./data/phase_3

## Extract the data

In [5]:
## phase 1

!mkdir ./data/phase_1/V121.144
!mkdir ./data/phase_1/V134.236

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_1/V121.144 ./data/phase_1/Extractor_config_workflow_14370_V121.144.yaml

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_1/V134.236 ./data/phase_1/Extractor_config_workflow_14370_V134.236-1.yaml

mkdir: ./data/phase_1/V121.144: File exists
mkdir: ./data/phase_1/V134.236: File exists
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/venv/lib/python3.9/site-packages/panoptes_aggregation/scripts/extract_panoptes_csv.py:68: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  classifications = pandas.read_csv(classification_csv_in, encoding='utf-8', dtype={'workflow_version': str})
Extracting: 100% |#############################################| Time:  0:00:05
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/venv/lib/python3.9/site-packages/panoptes_aggregation/scripts/extract_panoptes_csv.py:68: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  classifications = pandas.read_csv(classification_csv_in, encoding='utf-8', dtype={'workflow_version': str})
Extracting: 100% |#############################################| Time:  0:03:51

In [ ]:
# # phase 2
# 
# !mkdir ./data/phase_2/V89.162
# !mkdir ./data/phase_2/V93.166
# !mkdir ./data/phase_2/V94.166 
# 
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V89.162 ./data/phase_2/Extractor_config_workflow_20600_V89.162.yaml
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V93.166 ./data/phase_2/Extractor_config_workflow_20600_V93.166.yaml
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V94.166 ./data/phase_2/Extractor_config_workflow_20600_V94.166.yaml
#

In [ ]:
# # phase 3
# !mkdir ./data/phase_3/V7.63
# !mkdir ./data/phase_3/V9.63
# 
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_3/V7.63 ./data/phase_3/Extractor_config_workflow_22040_V7.63.yaml
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_3/V9.63 ./data/phase_3/Extractor_config_workflow_22040_V9.63.yaml

### Merge the single point and questions extractions

In [7]:
# phase 1
if data_folder == "./data/phase_1":
    df_panotes_point_extractor_1 = pd.read_csv(f"./data/phase_1/V121.144/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_2 = pd.read_csv(f"./data/phase_1/V134.236/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_1["workflow_version"] = "121.144"
    df_panotes_point_extractor_2["workflow_version"] = "134.236"
    
    df_panotes_question_1 = pd.read_csv(f"{data_folder}/V121.144/question_extractor_extractions.csv", sep=",")
    df_panotes_question_2 = pd.read_csv(f"{data_folder}/V134.236/question_extractor_extractions.csv", sep=",")
    
    df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2], axis=0)
    df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2], axis=0)
    
    df_panotes_point_extractor

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/214722966.py:4: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_panotes_point_extractor_2 = pd.read_csv(f"./data/phase_1/V134.236/point_extractor_by_frame_extractions.csv", sep=",")

In [8]:
# # phase 2
if data_folder == "./data/phase_2":
    # read the rectangles annotations too there
    df_panotes_rectangle_extractor_1 = pd.read_csv(f"{data_folder}/V89.162/shape_extractor_rectangle_extractions.csv", sep=",")
    
    df_panotes_point_extractor_1 = pd.read_csv(f"{data_folder}/V89.162/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_2 = pd.read_csv(f"{data_folder}/V93.166/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_3 = pd.read_csv(f"{data_folder}/V94.166/point_extractor_by_frame_extractions.csv", sep=",")
    
    df_panotes_point_extractor_1["workflow_version"] = "89.162"
    df_panotes_point_extractor_2["workflow_version"] = "93.166"
    df_panotes_point_extractor_3["workflow_version"] = "94.166"
    
    df_panotes_question_1 = pd.read_csv(f"{data_folder}/V89.162/question_extractor_extractions.csv", sep=",")
    df_panotes_question_2 = pd.read_csv(f"{data_folder}/V93.166/question_extractor_extractions.csv", sep=",")
    df_panotes_question_3 = pd.read_csv(f"{data_folder}/V94.166/question_extractor_extractions.csv", sep=",")
    
    
    df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2, df_panotes_point_extractor_2], axis=0)
    df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2, df_panotes_question_3], axis=0)

    df_panotes_rectangle_extractor_1

In [9]:
# not a single subject_id is of the gold standard is in the rectangle data
# df_panotes_rectangle_extractor_1[df_panotes_rectangle_extractor_1.subject_id.isin(df_gold_standard.subject_id)]

In [10]:
if data_folder == "./data/phase_3":
    df_panotes_point_extractor_1 = pd.read_csv(f"{data_folder}/V7.63/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_2 = pd.read_csv(f"{data_folder}/V9.63/point_extractor_by_frame_extractions.csv", sep=",")
    df_panotes_point_extractor_1["workflow_version"] = "7.63"
    df_panotes_point_extractor_2["workflow_version"] = "9.63"

    df_panotes_question_1 = pd.read_csv(f"{data_folder}/V7.63/question_extractor_extractions.csv", sep=",")
    df_panotes_question_2 = pd.read_csv(f"{data_folder}/V9.63/question_extractor_extractions.csv", sep=",")

    df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2], axis=0)
    df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2], axis=0)

In [11]:
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool5_x,...,data.frame0.T4_tool0_x,data.frame0.T4_tool0_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y
0,256866778,ANDREAVARELA89,1983945.0,14370,T2,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,256866778,ANDREAVARELA89,1983945.0,14370,T4,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,256866835,ANDREAVARELA89,1983945.0,14370,T2,2020-07-01 10:24:40 UTC,44660558,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,256866835,ANDREAVARELA89,1983945.0,14370,T4,2020-07-01 10:24:40 UTC,44660558,point_extractor_by_frame,4.1.0,"[370.5579833984375, 295.52032470703125]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,256866880,ANDREAVARELA89,1983945.0,14370,T2,2020-07-01 10:24:52 UTC,44660712,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000385,383293740,DofEJK,2158981.0,14370,T4,2021-12-14 19:51:54 UTC,47970069,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000386,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T2,2022-01-13 14:13:01 UTC,47970037,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000387,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T4,2022-01-13 14:13:01 UTC,47970037,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000388,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T2,2022-01-13 14:13:18 UTC,47969950,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000389,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T4,2022-01-13 14:13:18 UTC,47969950,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.no,data.aggregation_version,data.photo-too-blurry-or-dark,data.yes
0,256866778,ANDREAVARELA89,1983945.0,14370,T0,2020-07-01 10:24:23 UTC,44660635,question_extractor,1.0,4.1.0,NaN,NaN
1,256866835,ANDREAVARELA89,1983945.0,14370,T0,2020-07-01 10:24:40 UTC,44660558,question_extractor,1.0,4.1.0,NaN,NaN
2,256866880,ANDREAVARELA89,1983945.0,14370,T0,2020-07-01 10:24:52 UTC,44660712,question_extractor,1.0,4.1.0,NaN,NaN
3,256867624,ANDREAVARELA89,1983945.0,14370,T0,2020-07-01 10:29:11 UTC,44660654,question_extractor,1.0,4.1.0,NaN,NaN
4,256867676,ANDREAVARELA89,1983945.0,14370,T0,2020-07-01 10:29:26 UTC,44660552,question_extractor,1.0,4.1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
500190,383293694,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:44 UTC,47970089,question_extractor,1.0,4.1.0,NaN,NaN
500191,383293720,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:50 UTC,47970146,question_extractor,1.0,4.1.0,NaN,NaN
500192,383293740,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:54 UTC,47970069,question_extractor,1.0,4.1.0,NaN,NaN
500193,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T0,2022-01-13 14:13:01 UTC,47970037,question_extractor,1.0,4.1.0,NaN,NaN
500194,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T0,2022-01-13 14:13:18 UTC,47969950,question_extractor,1.0,4.1.0,NaN,NaN

In [13]:
import json
def get_json_keys(json_str):
    try:
        json_obj = json.loads(json_str)
        return list(json_obj.keys())
    except json.JSONDecodeError:
        return []

# Apply the function to each row in the metadata column and collect all keys
all_keys = df_subjects['metadata'].apply(get_json_keys)

# Flatten the list of lists and get unique keys
unique_keys = set([key for sublist in all_keys for key in sublist])

print(unique_keys)

{'site', 'flight', 'Flight', 'Site', 'flight_code', 'Island', 'id', 'workflow', 'subject_id', 'type', 'name', '#target_count', 'image_name', 'Image_name', 'Subset', 'set', 'Subject_id', 'Filename', 'Set'}

In [14]:

df_subjects[["subject_id", "metadata"]]

df_subjects["image_name"] = df_subjects['metadata'].apply(lambda x: json.loads(x).get('Image_name') 
                                        or json.loads(x).get('image_name') 
                                        or json.loads(x).get('Filename')).sort_values(ascending=True)
df_subjects

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,image_name
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC,SMF02-1-2-2_740.jpg
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC,SRIL03-2-1_153.jpg
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC,SRIL03-2-2_90.jpg
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC,SRIL03-2-2_127.jpg
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC,SRIL03-2-2_133.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC,Isa_ISVB02_27012023_155.jpg
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_75_36.jpg
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_27_16.jpg
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB03_77012023_28_17.jpg
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC,Isa_ISVB01_27012023_51_37.jpg

In [15]:
df_panotes_point_extractor = df_panotes_point_extractor.merge(df_subjects[["subject_id", "image_name"]], left_on="subject_id", right_on="subject_id")
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool5_x,...,data.frame0.T4_tool0_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name
0,256866778,ANDREAVARELA89,1983945.0,14370,T2,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
1,256866778,ANDREAVARELA89,1983945.0,14370,T4,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
2,257485360,cryder406,1992086.0,14370,T2,2020-07-03 15:55:19 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
3,257485360,cryder406,1992086.0,14370,T4,2020-07-03 15:55:19 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
4,257492065,Mchi,1988084.0,14370,T2,2020-07-03 16:23:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019791,288127706,acolom,2118412.0,14370,T4,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019792,288168438,FelipeCirqueira,2191241.0,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019793,288168438,FelipeCirqueira,2191241.0,14370,T4,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019794,288198132,LittleUsername,2148294.0,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019795,288198132,LittleUsername,2148294.0,14370,T4,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg

In [16]:
## Anonymise the data

In [17]:
from hashlib import blake2b

df_panotes_point_extractor["user_id"] = df_panotes_point_extractor['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_point_extractor['user_name'] = df_panotes_point_extractor['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

df_panotes_question["user_id"] = df_panotes_question['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_question['user_name'] = df_panotes_question['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

In [18]:
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool5_x,...,data.frame0.T4_tool0_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name
0,256866778,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
1,256866778,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T4,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
2,257485360,14597090a1ca2ae233ec4ccbaf00de67,da0196ebab87e82a7f2e5b6bee065aa3,14370,T2,2020-07-03 15:55:19 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
3,257485360,14597090a1ca2ae233ec4ccbaf00de67,da0196ebab87e82a7f2e5b6bee065aa3,14370,T4,2020-07-03 15:55:19 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
4,257492065,a722416d3feacb9ff4086b4ae25e9a20,bb473ceabce84d8efa64e0e56265456e,14370,T2,2020-07-03 16:23:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019791,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T4,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019792,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019793,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T4,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019794,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1019795,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T4,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg

In [19]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.no,data.aggregation_version,data.photo-too-blurry-or-dark,data.yes
0,256866778,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-07-01 10:24:23 UTC,44660635,question_extractor,1.0,4.1.0,NaN,NaN
1,256866835,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-07-01 10:24:40 UTC,44660558,question_extractor,1.0,4.1.0,NaN,NaN
2,256866880,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-07-01 10:24:52 UTC,44660712,question_extractor,1.0,4.1.0,NaN,NaN
3,256867624,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-07-01 10:29:11 UTC,44660654,question_extractor,1.0,4.1.0,NaN,NaN
4,256867676,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-07-01 10:29:26 UTC,44660552,question_extractor,1.0,4.1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
500190,383293694,cfbf6573c2dcd1386dfce451d9f6be93,945fed5a4ee1a07cb3b13647e3c1f8e9,14370,T0,2021-12-14 19:51:44 UTC,47970089,question_extractor,1.0,4.1.0,NaN,NaN
500191,383293720,cfbf6573c2dcd1386dfce451d9f6be93,945fed5a4ee1a07cb3b13647e3c1f8e9,14370,T0,2021-12-14 19:51:50 UTC,47970146,question_extractor,1.0,4.1.0,NaN,NaN
500192,383293740,cfbf6573c2dcd1386dfce451d9f6be93,945fed5a4ee1a07cb3b13647e3c1f8e9,14370,T0,2021-12-14 19:51:54 UTC,47970069,question_extractor,1.0,4.1.0,NaN,NaN
500193,389328206,aa5f2961151e502de5ff29fb40337fe5,NaN,14370,T0,2022-01-13 14:13:01 UTC,47970037,question_extractor,1.0,4.1.0,NaN,NaN
500194,389328326,aa5f2961151e502de5ff29fb40337fe5,NaN,14370,T0,2022-01-13 14:13:18 UTC,47969950,question_extractor,1.0,4.1.0,NaN,NaN

Filter for T2 only

In [20]:
df_panotes_point_extractor_r = df_panotes_point_extractor[
    # (df_panotes_point_extractor.subject_id == subject_id_2) &  # filter for this subject_id only
    (df_panotes_point_extractor.task == "T2")
    # & (df_panotes_point_extractor.user_name == "jickjack")
]
df_panotes_point_extractor_r.columns

Index(['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
       'created_at', 'subject_id', 'extractor', 'data.aggregation_version',
       'data.frame0.T4_tool5_x', 'data.frame0.T4_tool5_y',
       'data.frame0.T4_tool3_x', 'data.frame0.T4_tool3_y',
       'data.frame0.T2_tool3_x', 'data.frame0.T2_tool3_y',
       'data.frame0.T4_tool4_x', 'data.frame0.T4_tool4_y',
       'data.frame0.T2_tool0_x', 'data.frame0.T2_tool0_y',
       'data.frame0.T2_tool2_x', 'data.frame0.T2_tool2_y',
       'data.frame0.T2_tool4_x', 'data.frame0.T2_tool4_y',
       'data.frame0.T4_tool0_x', 'data.frame0.T4_tool0_y',
       'data.frame0.T2_tool1_x', 'data.frame0.T2_tool1_y',
       'data.frame0.T4_tool1_x', 'data.frame0.T4_tool1_y',
       'data.frame0.T4_tool2_x', 'data.frame0.T4_tool2_y',
       'data.frame0.T4_tool6_x', 'data.frame0.T4_tool6_y', 'image_name'],
      dtype='object')

### Which tool is which now?
| Tool Name               | Classification                               |
|-------------------------|----------------------------------------------|
| data.frame0.T2_tool0_x  | Adult Male in a lek                          |
| data.frame0.T2_tool1_x  | Adult Male alone                             |
| data.frame0.T2_tool2_x  | Others (females, young males, juveniles)     |
| data.frame0.T2_tool3_x  | Partial iguana                               |
| data.frame0.T2_tool4_x  | Could be an iguana, not sure                 |

Is "Could be an iguana, not sure" and "Partial Iguana" are omitted.

In [21]:
# create a flat structure from the nested marks over multiple columns from that.
from ast import literal_eval

columns_keep_x = ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x']
columns_keep_y = ['data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y']

for col in columns_keep_x + columns_keep_y:
    df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])

# Merge the lists in 'x' and 'y' coordinates
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()

# Flatten the lists in each row for 'x' and 'y'
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r['x'].apply(lambda x: [item for sublist in x for item in sublist])
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r['y'].apply(lambda x: [item for sublist in x for item in sublist])

# Explode the DataFrame to separate rows for each x, y pair
# Note: This requires pandas >= 0.25 for simultaneous explode
# df_panotes_point_extractor_r_exploded = df_panotes_point_extractor_r.apply(pd.Series.explode)

# Explode the DataFrame based on these columns to get separate rows for each list element
# Make sure to perform the explode operation on both columns simultaneously to keep the x and y coordinates paired
df_panotes_point_extractor_r

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3640237693.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3640237693.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3640237693.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3640237693.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r['x'].apply(lambda x: [item for sublist in x for item in sublist])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_29517/3640237693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r['y'].apply(lambda x: [item for sublist in x for item in sublist])

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool5_x,...,data.frame0.T2_tool1_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name,x,y
0,256866778,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-07-01 10:24:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg,[],[]
2,257485360,14597090a1ca2ae233ec4ccbaf00de67,da0196ebab87e82a7f2e5b6bee065aa3,14370,T2,2020-07-03 15:55:19 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg,[],[]
4,257492065,a722416d3feacb9ff4086b4ae25e9a20,bb473ceabce84d8efa64e0e56265456e,14370,T2,2020-07-03 16:23:23 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg,[],[]
6,257492850,dacf811c3f9785e954e5eff762c31229,NaN,14370,T2,2020-07-03 16:26:53 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg,[],[]
8,257498961,dc48dacf4a7d070ce8d2189d087adb8d,b53ddd25763b7daeadccf74f0ad5e67d,14370,T2,2020-07-03 16:52:22 UTC,44660635,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SRIL03-2-2_154.jpg,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019786,287939566,a7c38b9d4c0f563d6c452d4db06db678,e410233db1e818f51a48a0d47fa4fa92,14370,T2,2020-11-18 04:32:48 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1019788,288102487,58fa6a1c297b9ff1d6f96fa93f112c48,8f92f55991060f2111a7a0fab2e453ad,14370,T2,2020-11-18 19:47:25 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1019790,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T2,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1019792,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1019794,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]

In [22]:
df_panotes_point_extractor_r = df_panotes_point_extractor_r[
    ['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
     'created_at', 'subject_id', "image_name",
     'x', 'y'
     ]].reset_index(drop=True)

df_panotes_point_extractor_r

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
0,256866778,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-07-01 10:24:23 UTC,44660635,SRIL03-2-2_154.jpg,[],[]
1,257485360,14597090a1ca2ae233ec4ccbaf00de67,da0196ebab87e82a7f2e5b6bee065aa3,14370,T2,2020-07-03 15:55:19 UTC,44660635,SRIL03-2-2_154.jpg,[],[]
2,257492065,a722416d3feacb9ff4086b4ae25e9a20,bb473ceabce84d8efa64e0e56265456e,14370,T2,2020-07-03 16:23:23 UTC,44660635,SRIL03-2-2_154.jpg,[],[]
3,257492850,dacf811c3f9785e954e5eff762c31229,NaN,14370,T2,2020-07-03 16:26:53 UTC,44660635,SRIL03-2-2_154.jpg,[],[]
4,257498961,dc48dacf4a7d070ce8d2189d087adb8d,b53ddd25763b7daeadccf74f0ad5e67d,14370,T2,2020-07-03 16:52:22 UTC,44660635,SRIL03-2-2_154.jpg,[],[]
...,...,...,...,...,...,...,...,...,...,...
509893,287939566,a7c38b9d4c0f563d6c452d4db06db678,e410233db1e818f51a48a0d47fa4fa92,14370,T2,2020-11-18 04:32:48 UTC,47970949,SFM04-1-1_369.jpg,[],[]
509894,288102487,58fa6a1c297b9ff1d6f96fa93f112c48,8f92f55991060f2111a7a0fab2e453ad,14370,T2,2020-11-18 19:47:25 UTC,47970949,SFM04-1-1_369.jpg,[],[]
509895,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T2,2020-11-18 21:32:33 UTC,47970949,SFM04-1-1_369.jpg,[],[]
509896,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,SFM04-1-1_369.jpg,[],[]
509897,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,SFM04-1-1_369.jpg,[],[]

In [23]:
# explode the lists of marks per user into one row per mark
df_panotes_point_extractor_r_ex = df_panotes_point_extractor_r.apply(lambda x: x.explode() if x.name in ['x', 'y'] else x)

In [24]:
# images with no marks have NaN values in the 'merged_x' and 'merged_y' columns
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex.dropna(subset=['x', 'y'], how='all').sort_values(by=['user_id', 'subject_id', 'task', 'created_at'])
df_panotes_point_extractor_r_ex_dropped

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
230846,283007416,77dd9c009b5200eea39788f7f15862f0,003abe9e6bb90e03c50377a33f1137a5,14370,T2,2020-10-26 09:28:46 UTC,47974351,SMF02-1-2-2_570.jpg,186.475037,310.925049
372187,271011060,fcbbe951169dc1df0b1f803a199f0995,004eb4442ae5c85fcb6b5c78ed902f41,14370,T2,2020-08-30 16:22:33 UTC,47978494,SFP01_06-2_59.jpg,272.292664,265.212067
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,358.3125,194
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,485.3125,106
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,458.3125,205
...,...,...,...,...,...,...,...,...,...,...
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,441.922241,879.096191
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,136.863983,1013.773438
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,1674.010132,811.722473
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,1306.06897,852.808899
202870,281038044,f81b032a8ed514458a88f8c508dff561,NaN,14370,T2,2020-10-17 00:47:51 UTC,48034467,SRBS03-4_63.jpg,895.856628,1032.248169

In [25]:
# cast x and y to int
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex_dropped.astype({'x': 'int32', 'y': 'int32'})
df_panotes_point_extractor_r_ex_dropped

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
230846,283007416,77dd9c009b5200eea39788f7f15862f0,003abe9e6bb90e03c50377a33f1137a5,14370,T2,2020-10-26 09:28:46 UTC,47974351,SMF02-1-2-2_570.jpg,186,310
372187,271011060,fcbbe951169dc1df0b1f803a199f0995,004eb4442ae5c85fcb6b5c78ed902f41,14370,T2,2020-08-30 16:22:33 UTC,47978494,SFP01_06-2_59.jpg,272,265
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,358,194
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,485,106
502904,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,458,205
...,...,...,...,...,...,...,...,...,...,...
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,441,879
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,136,1013
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,1674,811
251731,282327563,abc5cb03709e2f07494e3e603b1ba8eb,NaN,14370,T2,2020-10-22 19:32:52 UTC,48034447,SRBS03-4_25.jpg,1306,852
202870,281038044,f81b032a8ed514458a88f8c508dff561,NaN,14370,T2,2020-10-17 00:47:51 UTC,48034467,SRBS03-4_63.jpg,895,1032

In [26]:
df_panotes_point_extractor_r_ex_dropped.to_csv(config["flat_panoptes_points"], sep=",")

## Check the numbers for a single subject_id

In [27]:
### Looks the images in question

subject_id_1 = 47968423 # median and mode 11, 11
subject_id_2 = 47969478 # median and mode 4.5, 2
df_panotes_point_extractor_r_ex_dropped[(df_panotes_point_extractor_r_ex_dropped.subject_id == subject_id_2)]

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,385,314
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,297,333
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,308,372
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,357,391
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,385,358
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,334,335
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,271,160
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,247,172
261444,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,SFM01-2-2-1_293.jpg,266,180
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,372,398
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,323,385
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,396,315
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,330,334
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,291,317
261447,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,SFM01-2-2-1_293.jpg,397,351

## Analysing the differences between panotes extract and the custom data_prep method
I get [2, 2, 7, 9] for the SFM01-2-2-1_293.jpg - 47969478 with my dataprep
here I have [2, 7, 9] for the same image by only remove "partial iguana" but leaving "could be an iguana, not sure" in there

## Filter for the expert gold standard

In [ ]:
from zooniverse.utils.data_format import data_prep
use_gold_standard_subset = "expert_goldstandard"
ds_stats = data_prep(phase_tag=phase_tag, 
                         output_path=output_path, 
                         input_path=input_path,
                         filter_combination=use_gold_standard_subset, 
                         config=config)

ds_stats

In [ ]:
df_flat_data_prep = pd.read_csv(config["flat_dataset"], sep=",", index_col=0)
df_flat_data_prep[df_flat_data_prep.subject_id == subject_id_2]

In [ ]:
df_merged_data_prep = pd.read_csv(config["merged_dataset"], sep=",", index_col=0)
df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2]

In [ ]:
sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)])

In [ ]:
sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_dropped.merged_x)])

In [ ]:
## both methods yield the same coordinate lists
assert sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)]) == sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_droped.merged_x)]), "The x coordinates are not the same"