# Using the Panoptes Aggregation Tool from Zooniverse
https://aggregation-caesar.zooniverse.org/Scripts.html#scripts

In [1]:
from zooniverse.config import get_config
import pandas as pd
from pathlib import Path

### use either the subset of the subset
phase_tag = "Iguanas 1st launch"
# phase_tag = "Iguanas 2nd launch"
# phase_tag = "Iguanas 3rd launch"
input_path = Path("/Users/christian/data/zooniverse")

# use_gold_standard_subset = "expert" # Use the expert-GS-Xphase as the basis
output_path = Path("/Users/christian/data/zooniverse/2024_04_10_analysis").joinpath(phase_tag).resolve()

output_plot_path = output_path.joinpath("plots")
output_plot_path.mkdir(parents=True, exist_ok=True)

config = get_config(phase_tag=phase_tag, input_path=input_path, output_path=output_path)

data_folder = "./data/phase_2"

config

{'annotations_source': PosixPath('/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv'),
 'goldstandard_data': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv'),
 'gold_standard_image_subset': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv'),
 'image_source': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch'),
 'yes_no_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/yes_no_dataset_Iguanas 1st launch.csv'),
 'flat_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/flat_dataset_Iguanas 1st launch.csv'),
 'merged_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv'),
 'gold_standard_and_expert_count': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_gold_standard_and_expert_count.csv'),
 'comparison_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_method_comparison.csv'),
 'method_sums': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_method_sums.csv'),
 'rmse_errors': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_rmse_errors.csv'),
 'dbscan_hyperparam_grid': PosixPath('/Users/christian/data/zooniverse/2024_04_10_analysis/Iguanas 1st launch/Iguanas 1st launch_hyperparam_grid.csv')}

# Look into the subjects file
This contains the mappings from the subject_id to the image file

In [2]:
df_subjects = pd.read_csv("./data/zooniverse/iguanas-from-above-subjects.csv", sep=",")
df_subjects

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_24529/3635367931.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subjects = pd.read_csv("./data/zooniverse/iguanas-from-above-subjects.csv", sep=",")

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC
...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC

In [3]:
gold_standard_path = config["goldstandard_data"]
df_gold_standard = pd.read_csv(gold_standard_path, sep=";")
df_gold_standard

,subspecies,island,site_name,subject_group,image_name,subject_id,presence_absence,count_male-lek,count_male-no-lek,count_others,count_partial,count_total,quality,condition,comment
0,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_282.jpg,47969795,Y,0,2,0,2,2,Good,Hard,NaN
1,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-1_344.jpg,47969531,Y,0,2,2,1,4,Good,Hard,not consider number 4 marked in the image
2,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_270.jpg,47969760,Y,0,0,0,1,0,Good,Hard,NaN
3,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_289.jpg,47969815,Y,0,0,0,1,0,Good,Visible,NaN
4,A. c. trillmichi,Santa Fe,El Miedo,SFM1,SFM01-2-2-2_291.jpg,47969821,Y,0,0,0,1,0,Good,Hard,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_95.jpg,47990261,N,0,0,0,0,0,NaN,NaN,NaN
2729,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_96.jpg,47990268,N,0,0,0,0,0,NaN,NaN,NaN
2730,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_97.jpg,47990280,N,0,0,0,0,0,NaN,NaN,NaN
2731,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_98.jpg,47990285,N,0,0,0,0,0,NaN,NaN,NaN
2732,A. c. godzilla,San Cristobal,Playa Blanca (Punta Pitt),SRPB1,SRPB02-2-3_99.jpg,47990290,N,0,0,0,0,0,NaN,NaN,NaN

# Panoptes Data Extraction from Zooniverse

## Panoptes config

### Create the configuration files automatically

In [ ]:
# create a configuration file from the workflow
#!mkdir ./data/phase_1
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 14370 --min_version 0 --max_version 142.245 -d ./data/phase_1
# 
#!mkdir ./data/phase_2
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 20600 --min_version 0 --max_version 94.166 -d ./data/phase_2
# 
#!mkdir ./data/phase_3
#! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 22040 --min_version 0 --max_version 9.63 -d ./data/phase_3

## Extract the data

In [4]:
## phase 1

!mkdir ./data/phase_1/V121.144
!mkdir ./data/phase_1/V134.236

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_1/V121.144 ./data/phase_1/Extractor_config_workflow_14370_V121.144.yaml

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_1/V134.236 ./data/phase_1/Extractor_config_workflow_14370_V134.236-1.yaml

mkdir: ./data/phase_1/V121.144: File exists
mkdir: ./data/phase_1/V134.236: File exists
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/venv/lib/python3.9/site-packages/panoptes_aggregation/scripts/extract_panoptes_csv.py:68: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  classifications = pandas.read_csv(classification_csv_in, encoding='utf-8', dtype={'workflow_version': str})
Extracting: 100% |#############################################| Time:  0:00:02
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/venv/lib/python3.9/site-packages/panoptes_aggregation/scripts/extract_panoptes_csv.py:68: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  classifications = pandas.read_csv(classification_csv_in, encoding='utf-8', dtype={'workflow_version': str})
Extracting: 100% |#############################################| Time:  0:02:21

In [ ]:
# phase 2

!mkdir ./data/phase_2/V89.162
!mkdir ./data/phase_2/V93.166
!mkdir ./data/phase_2/V94.166 

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V89.162 ./data/phase_2/Extractor_config_workflow_20600_V89.162.yaml
!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V93.166 ./data/phase_2/Extractor_config_workflow_20600_V93.166.yaml
!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/V94.166 ./data/phase_2/Extractor_config_workflow_20600_V94.166.yaml

In [ ]:
# phase 3
!mkdir ./data/phase_3/V7.63
!mkdir ./data/phase_3/V9.63

!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_3/V7.63 ./data/phase_3/Extractor_config_workflow_22040_V7.63.yaml
!panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_3/V9.63 ./data/phase_3/Extractor_config_workflow_22040_V9.63.yaml

In [ ]:
# # phase 1
# df_panotes_point_extractor_1 = pd.read_csv(f"./data/phase_1/V121.144/point_extractor_by_frame_extractions.csv", sep=",")
# df_panotes_point_extractor_2 = pd.read_csv(f"./data/phase_1/V134.236/point_extractor_by_frame_extractions.csv", sep=",")
# 
# df_panotes_question_1 = pd.read_csv(f"{data_folder}/V121.144/question_extractor_extractions.csv", sep=",")
# df_panotes_question_2 = pd.read_csv(f"{data_folder}/V134.236/question_extractor_extractions.csv", sep=",")
# 
# df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2], axis=0)
# df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2], axis=0)

In [14]:
# phase 2
data_folder = "./data/phase_2"
# read the rectangles annotations too there
df_panotes_rectangle_extractor_1 = pd.read_csv(f"{data_folder}/V89.162/shape_extractor_rectangle_extractions.csv", sep=",")

df_panotes_point_extractor_1 = pd.read_csv(f"{data_folder}/V89.162/point_extractor_by_frame_extractions.csv", sep=",")
df_panotes_point_extractor_2 = pd.read_csv(f"{data_folder}/V93.166/point_extractor_by_frame_extractions.csv", sep=",")
df_panotes_point_extractor_3 = pd.read_csv(f"{data_folder}/V94.166/point_extractor_by_frame_extractions.csv", sep=",")


df_panotes_question_1 = pd.read_csv(f"{data_folder}/V89.162/question_extractor_extractions.csv", sep=",")
df_panotes_question_2 = pd.read_csv(f"{data_folder}/V93.166/question_extractor_extractions.csv", sep=",")
df_panotes_question_3 = pd.read_csv(f"{data_folder}/V94.166/question_extractor_extractions.csv", sep=",")


df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2, df_panotes_point_extractor_2], axis=0)
df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2, df_panotes_question_3], axis=0)

df_panotes_rectangle_extractor_1

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool0_x,...,data.frame0.T2_tool2_width,data.frame0.T2_tool2_height,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,data.frame0.T2_tool3_width,data.frame0.T2_tool3_height,data.frame0.T4_tool8_x,data.frame0.T4_tool8_y,data.frame0.T4_tool8_width,data.frame0.T4_tool8_height
0,393742576,AmyMacLeod,1443210.0,20600,T2,2022-02-01 00:09:54 UTC,72335168,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,393742576,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:09:54 UTC,72335168,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,393742638,AmyMacLeod,1443210.0,20600,T2,2022-02-01 00:10:20 UTC,72334984,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,393742638,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:10:20 UTC,72334984,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,393742678,AmyMacLeod,1443210.0,20600,T2,2022-02-01 00:10:33 UTC,72340244,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,394044885,not-logged-in-74436a8874db7b682463,NaN,20600,T4,2022-02-02 12:53:46 UTC,72338736,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,394044921,not-logged-in-74436a8874db7b682463,NaN,20600,T2,2022-02-02 12:54:07 UTC,72341061,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1051,394044921,not-logged-in-74436a8874db7b682463,NaN,20600,T4,2022-02-02 12:54:07 UTC,72341061,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052,394045028,not-logged-in-74436a8874db7b682463,NaN,20600,T2,2022-02-02 12:55:09 UTC,72336979,shape_extractor_rectangle,4.1.0,[233.2384033203125],...,"[70.02042770385742, 20.88330078125, 24.5686035...","[34.378662109375, 27.0118408203125, 51.5680541...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053,394045028,not-logged-in-74436a8874db7b682463,NaN,20600,T4,2022-02-02 12:55:09 UTC,72336979,shape_extractor_rectangle,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# not a single subject_id is of the gold standard is in the rectangle data
df_panotes_rectangle_extractor_1[df_panotes_rectangle_extractor_1.subject_id.isin(df_gold_standard.subject_id)]

Empty DataFrame
Columns: [classification_id, user_name, user_id, workflow_id, task, created_at, subject_id, extractor, data.aggregation_version, data.frame0.T2_tool0_x, data.frame0.T2_tool0_y, data.frame0.T2_tool0_width, data.frame0.T2_tool0_height, data.frame0.T2_tool1_x, data.frame0.T2_tool1_y, data.frame0.T2_tool1_width, data.frame0.T2_tool1_height, data.frame0.T2_tool2_x, data.frame0.T2_tool2_y, data.frame0.T2_tool2_width, data.frame0.T2_tool2_height, data.frame0.T2_tool3_x, data.frame0.T2_tool3_y, data.frame0.T2_tool3_width, data.frame0.T2_tool3_height, data.frame0.T4_tool8_x, data.frame0.T4_tool8_y, data.frame0.T4_tool8_width, data.frame0.T4_tool8_height]
Index: []

[0 rows x 29 columns]

In [16]:
# data_folder = "./data/phase_3"
# df_panotes_point_extractor_1 = pd.read_csv(f"{data_folder}/V7.63/point_extractor_by_frame_extractions.csv", sep=",")
# df_panotes_point_extractor_2 = pd.read_csv(f"{data_folder}/V9.63/point_extractor_by_frame_extractions.csv", sep=",")
# 
# 
# df_panotes_question_1 = pd.read_csv(f"{data_folder}/V7.63/question_extractor_extractions.csv", sep=",")
# df_panotes_question_2 = pd.read_csv(f"{data_folder}/V9.63/question_extractor_extractions.csv", sep=",")
# 
# df_panotes_point_extractor = pd.concat([df_panotes_point_extractor_1, df_panotes_point_extractor_2], axis=0)
# df_panotes_question = pd.concat([df_panotes_question_1, df_panotes_question_2], axis=0)

In [17]:
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool0_x,...,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T2_tool0_x,data.frame0.T2_tool0_y,data.frame0.T2_tool2_x,data.frame0.T2_tool2_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y
0,393742576,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:09:54 UTC,72335168,point_extractor_by_frame,4.1.0,"[1481.24658203125, 64.83441925048828, 152.1798...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,393742638,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:10:20 UTC,72334984,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,393742678,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:10:33 UTC,72340244,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,393743049,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:12:15 UTC,72336318,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,393768668,not-logged-in-b0c587027139fe5e6549,NaN,20600,T4,2022-02-01 03:12:48 UTC,72372999,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215619,406113768,Lenoxx,2434025.0,20600,T4,2022-03-30 19:24:33 UTC,72335929,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215620,406113907,Lenoxx,2434025.0,20600,T2,2022-03-30 19:25:09 UTC,72334672,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215621,406113907,Lenoxx,2434025.0,20600,T4,2022-03-30 19:25:09 UTC,72334672,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215622,406113995,Lenoxx,2434025.0,20600,T2,2022-03-30 19:25:30 UTC,72338881,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215623,406113995,Lenoxx,2434025.0,20600,T4,2022-03-30 19:25:30 UTC,72338881,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.no,data.aggregation_version,data.yes
0,393742576,AmyMacLeod,1443210.0,20600,T0,2022-02-01 00:09:54 UTC,72335168,question_extractor,1.0,4.1.0,NaN
1,393742638,AmyMacLeod,1443210.0,20600,T0,2022-02-01 00:10:20 UTC,72334984,question_extractor,1.0,4.1.0,NaN
2,393742678,AmyMacLeod,1443210.0,20600,T0,2022-02-01 00:10:33 UTC,72340244,question_extractor,1.0,4.1.0,NaN
3,393743049,AmyMacLeod,1443210.0,20600,T0,2022-02-01 00:12:15 UTC,72336318,question_extractor,NaN,4.1.0,1.0
4,393768668,not-logged-in-b0c587027139fe5e6549,NaN,20600,T0,2022-02-01 03:12:48 UTC,72372999,question_extractor,NaN,4.1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
88313,412711106,Melisss,1369932.0,20600,T0,2022-05-03 07:02:18 UTC,72333409,question_extractor,1.0,4.1.0,NaN
88314,412711577,Melisss,1369932.0,20600,T0,2022-05-03 07:06:48 UTC,72333423,question_extractor,1.0,4.1.0,NaN
88315,412711830,Melisss,1369932.0,20600,T0,2022-05-03 07:08:50 UTC,72333494,question_extractor,1.0,4.1.0,NaN
88316,412712258,Melisss,1369932.0,20600,T0,2022-05-03 07:12:18 UTC,72333471,question_extractor,1.0,4.1.0,NaN
88317,456473615,edengbn,2462144.0,20600,T0,2022-12-13 01:27:15 UTC,72341496,question_extractor,1.0,4.1.0,NaN

In [19]:
import json
def get_json_keys(json_str):
    try:
        json_obj = json.loads(json_str)
        return list(json_obj.keys())
    except json.JSONDecodeError:
        return []

# Apply the function to each row in the metadata column and collect all keys
all_keys = df_subjects['metadata'].apply(get_json_keys)

# Flatten the list of lists and get unique keys
unique_keys = set([key for sublist in all_keys for key in sublist])

print(unique_keys)

{'name', 'type', '#target_count', 'id', 'Filename', 'workflow', 'image_name', 'flight_code', 'Set', 'site', 'Flight', 'flight', 'Subset', 'set', 'Subject_id', 'Image_name', 'subject_id', 'Site', 'Island'}

In [20]:

df_subjects[["subject_id", "metadata"]]

df_subjects["image_name"] = df_subjects['metadata'].apply(lambda x: json.loads(x).get('Image_name') 
                                        or json.loads(x).get('image_name') 
                                        or json.loads(x).get('Filename')).sort_values(ascending=True)
df_subjects

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,image_name
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC,SMF02-1-2-2_740.jpg
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC,SRIL03-2-1_153.jpg
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC,SRIL03-2-2_90.jpg
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC,SRIL03-2-2_127.jpg
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC,SRIL03-2-2_133.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC,Isa_ISVB02_27012023_155.jpg
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_75_36.jpg
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_27_16.jpg
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB03_77012023_28_17.jpg
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC,Isa_ISVB01_27012023_51_37.jpg

In [21]:
df_panotes_point_extractor = df_panotes_point_extractor.merge(df_subjects[["subject_id", "image_name"]], left_on="subject_id", right_on="subject_id")
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool0_x,...,data.frame0.T4_tool6_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T2_tool0_x,data.frame0.T2_tool0_y,data.frame0.T2_tool2_x,data.frame0.T2_tool2_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,image_name
0,393742576,AmyMacLeod,1443210.0,20600,T4,2022-02-01 00:09:54 UTC,72335168,point_extractor_by_frame,4.1.0,"[1481.24658203125, 64.83441925048828, 152.1798...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
1,394132937,laswett,2309767.0,20600,T2,2022-02-02 19:19:04 UTC,72335168,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
2,394132937,laswett,2309767.0,20600,T4,2022-02-02 19:19:04 UTC,72335168,point_extractor_by_frame,4.1.0,"[1474.2442626953125, 144.0193634033203, 12.096...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
3,394221102,colarsoledad,2360454.0,20600,T2,2022-02-03 03:24:54 UTC,72335168,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
4,394221102,colarsoledad,2360454.0,20600,T4,2022-02-03 03:24:54 UTC,72335168,point_extractor_by_frame,4.1.0,"[1474.424560546875, 146.7071990966797, 12.0523...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431770,403414441,Fire_seeker,2439780.0,20600,T4,2022-03-18 13:15:20 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431771,403489002,Mary1863,1760559.0,20600,T2,2022-03-18 20:13:31 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431772,403489002,Mary1863,1760559.0,20600,T4,2022-03-18 20:13:31 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431773,403749038,databanana,1682891.0,20600,T2,2022-03-20 11:31:17 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431774,403749038,databanana,1682891.0,20600,T4,2022-03-20 11:31:17 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg

In [22]:
## Anonymise the data

In [23]:
from hashlib import blake2b

df_panotes_point_extractor["user_id"] = df_panotes_point_extractor['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_point_extractor['user_name'] = df_panotes_point_extractor['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

df_panotes_question["user_id"] = df_panotes_question['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_question['user_name'] = df_panotes_question['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

In [24]:
# TODO check if that doesn ruin the data
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T4_tool0_x,...,data.frame0.T4_tool6_y,data.frame0.T2_tool1_x,data.frame0.T2_tool1_y,data.frame0.T2_tool0_x,data.frame0.T2_tool0_y,data.frame0.T2_tool2_x,data.frame0.T2_tool2_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,image_name
0,393742576,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,20600,T4,2022-02-01 00:09:54 UTC,72335168,point_extractor_by_frame,4.1.0,"[1481.24658203125, 64.83441925048828, 152.1798...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
1,394132937,691500ccebe2131f83809524df652f87,c11a32c827347926881e5e1db75cb701,20600,T2,2022-02-02 19:19:04 UTC,72335168,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
2,394132937,691500ccebe2131f83809524df652f87,c11a32c827347926881e5e1db75cb701,20600,T4,2022-02-02 19:19:04 UTC,72335168,point_extractor_by_frame,4.1.0,"[1474.2442626953125, 144.0193634033203, 12.096...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
3,394221102,07452636222fb135e92fd5bedbecd18c,1dcb5107d19f3fa3d0d40eb4fa5a32ac,20600,T2,2022-02-03 03:24:54 UTC,72335168,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
4,394221102,07452636222fb135e92fd5bedbecd18c,1dcb5107d19f3fa3d0d40eb4fa5a32ac,20600,T4,2022-02-03 03:24:54 UTC,72335168,point_extractor_by_frame,4.1.0,"[1474.424560546875, 146.7071990966797, 12.0523...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EIG05-2_55.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431770,403414441,54ae6fcd86ece9f2ddceb66b12764b08,181ab00d3414bff0e41fbdb9379795e1,20600,T4,2022-03-18 13:15:20 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431771,403489002,0a044a95880379be03b7f5800b7716b9,1fd5c346537644c93a0b7d87c436545b,20600,T2,2022-03-18 20:13:31 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431772,403489002,0a044a95880379be03b7f5800b7716b9,1fd5c346537644c93a0b7d87c436545b,20600,T4,2022-03-18 20:13:31 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431773,403749038,74a407ea10c24ff0e2c30672740b06d1,e420d35a1ea646006eea5b67a80ae4c4,20600,T2,2022-03-20 11:31:17 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg
431774,403749038,74a407ea10c24ff0e2c30672740b06d1,e420d35a1ea646006eea5b67a80ae4c4,20600,T4,2022-03-20 11:31:17 UTC,72339681,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FPA04_31.jpg

In [25]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.no,data.aggregation_version,data.yes
0,393742576,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,20600,T0,2022-02-01 00:09:54 UTC,72335168,question_extractor,1.0,4.1.0,NaN
1,393742638,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,20600,T0,2022-02-01 00:10:20 UTC,72334984,question_extractor,1.0,4.1.0,NaN
2,393742678,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,20600,T0,2022-02-01 00:10:33 UTC,72340244,question_extractor,1.0,4.1.0,NaN
3,393743049,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,20600,T0,2022-02-01 00:12:15 UTC,72336318,question_extractor,NaN,4.1.0,1.0
4,393768668,dc0ea5c32da0e322969ff6e6aa76ca5f,NaN,20600,T0,2022-02-01 03:12:48 UTC,72372999,question_extractor,NaN,4.1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
88313,412711106,d607a725449d5e3a2deaba5014fce17d,dabdbb41b2897bd5fdef6dc4ca74584b,20600,T0,2022-05-03 07:02:18 UTC,72333409,question_extractor,1.0,4.1.0,NaN
88314,412711577,d607a725449d5e3a2deaba5014fce17d,dabdbb41b2897bd5fdef6dc4ca74584b,20600,T0,2022-05-03 07:06:48 UTC,72333423,question_extractor,1.0,4.1.0,NaN
88315,412711830,d607a725449d5e3a2deaba5014fce17d,dabdbb41b2897bd5fdef6dc4ca74584b,20600,T0,2022-05-03 07:08:50 UTC,72333494,question_extractor,1.0,4.1.0,NaN
88316,412712258,d607a725449d5e3a2deaba5014fce17d,dabdbb41b2897bd5fdef6dc4ca74584b,20600,T0,2022-05-03 07:12:18 UTC,72333471,question_extractor,1.0,4.1.0,NaN
88317,456473615,593e39ba4a91fa148be4e9266517e294,8a13edc73fdcc9b95c7216e7e8e75463,20600,T0,2022-12-13 01:27:15 UTC,72341496,question_extractor,1.0,4.1.0,NaN

# Debugging

In [ ]:
### Looks the images in question

subject_id_1 = 47968423 # median and mode 11, 11
subject_id_2 = 47969478 # median and mode 4.5, 2
df_panotes_point_extractor[(df_panotes_point_extractor.subject_id == subject_id_2)]

In [26]:
df_panotes_point_extractor_r = df_panotes_point_extractor[
    # (df_panotes_point_extractor.subject_id == subject_id_2) &  # filter for this subject_id only
    (df_panotes_point_extractor.task == "T2")
    # & (df_panotes_point_extractor.user_name == "jickjack")
]
df_panotes_point_extractor_r.columns

Index(['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
       'created_at', 'subject_id', 'extractor', 'data.aggregation_version',
       'data.frame0.T4_tool0_x', 'data.frame0.T4_tool0_y',
       'data.frame0.T4_tool2_x', 'data.frame0.T4_tool2_y',
       'data.frame0.T4_tool3_x', 'data.frame0.T4_tool3_y',
       'data.frame0.T4_tool1_x', 'data.frame0.T4_tool1_y',
       'data.frame0.T4_tool4_x', 'data.frame0.T4_tool4_y',
       'data.frame0.T4_tool5_x', 'data.frame0.T4_tool5_y',
       'data.frame0.T4_tool7_x', 'data.frame0.T4_tool7_y',
       'data.frame0.T4_tool6_x', 'data.frame0.T4_tool6_y',
       'data.frame0.T2_tool1_x', 'data.frame0.T2_tool1_y',
       'data.frame0.T2_tool0_x', 'data.frame0.T2_tool0_y',
       'data.frame0.T2_tool2_x', 'data.frame0.T2_tool2_y',
       'data.frame0.T2_tool3_x', 'data.frame0.T2_tool3_y', 'image_name'],
      dtype='object')

### Which is tool is which now??
There these tools 
- data.frame0.T2_tool0_x 
- data.frame0.T2_tool1_x 
- data.frame0.T2_tool2_x
- data.frame0.T2_tool3_x
- data.frame0.T2_tool4_x

Those reflect the tools in the point_extractor_by_frame Extractor_config_workflow_14370_V134.236.yaml
and probably belong to the classification (in that order, from the lab page) 
- Adult Male in a lek
- Adult Male alone
- Others (females, young males, juveniles)
- Partial iguana
- Could be an iguana, not sure

Is "Could be an iguana, not sure" included in the study?

In [27]:
# create a flat structure from the nested marks over multiple columns from that.
from ast import literal_eval

columns_keep_x = ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x']
columns_keep_y = ['data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y']

# for col in ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool4_x',
#             'data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool4_y']:

for col in columns_keep_x + columns_keep_y:
    df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])

# Merge the lists in 'x' and 'y' coordinates
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()

# Flatten the lists in each row for 'x' and 'y'
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r['x'].apply(lambda x: [item for sublist in x for item in sublist])
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r['y'].apply(lambda x: [item for sublist in x for item in sublist])

# Explode the DataFrame to separate rows for each x, y pair
# Note: This requires pandas >= 0.25 for simultaneous explode
# df_panotes_point_extractor_r_exploded = df_panotes_point_extractor_r.apply(pd.Series.explode)

# Explode the DataFrame based on these columns to get separate rows for each list element
# Make sure to perform the explode operation on both columns simultaneously to keep the x and y coordinates paired
df_panotes_point_extractor_r

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_24529/190879302.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])

KeyError: 'data.frame0.T2_tool4_x'

In [ ]:
df_panotes_point_extractor_r = df_panotes_point_extractor_r[
    ['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
     'created_at', 'subject_id', "image_name",
     'x', 'y'
     ]].reset_index(drop=True)

df_panotes_point_extractor_r

In [ ]:
df_panotes_point_extractor_r_ex = df_panotes_point_extractor_r.apply(lambda x: x.explode() if x.name in ['x', 'y'] else x)

In [ ]:
# images with no marks have NaN values in the 'merged_x' and 'merged_y' columns
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex.dropna(subset=['x', 'y'], how='all').sort_values(by=['user_id', 'subject_id', 'task', 'created_at'])
df_panotes_point_extractor_r_ex_dropped

In [ ]:
# cast x and y to int
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex_dropped.astype({'x': 'int32', 'y': 'int32'})
df_panotes_point_extractor_r_ex_dropped

## Check the numbers for a single subject_id

## Analysing the differences between panotes extract and the custom data_prep method
I get [2, 2, 7, 9] for the SFM01-2-2-1_293.jpg - 47969478 with my dataprep
here I have [2, 7, 9] for the same image by only remove "partial iguana" but leaving "could be an iguana, not sure" in there

## Filter for the expert gold standard

In [ ]:
from zooniverse.utils.data_format import data_prep
use_gold_standard_subset = "expert_goldstandard"
ds_stats = data_prep(phase_tag=phase_tag, 
                         output_path=output_path, 
                         input_path=input_path,
                         filter_combination=use_gold_standard_subset, 
                         config=config)

ds_stats

In [ ]:
df_flat_data_prep = pd.read_csv(config["flat_dataset"], sep=",", index_col=0)
df_flat_data_prep[df_flat_data_prep.subject_id == subject_id_2]

In [ ]:
df_merged_data_prep = pd.read_csv(config["merged_dataset"], sep=",", index_col=0)
df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2]

In [ ]:
sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)])

In [ ]:
sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_dropped.merged_x)])

In [ ]:
## both methods yield the same coordinate lists
assert sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)]) == sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_droped.merged_x)]), "The x coordinates are not the same"