# Looking into the workflow processes

In [1]:
from zooniverse.config import get_config
import pandas as pd
from pathlib import Path

### use either the subset of the subset
phase_tag = "Iguanas 1st launch"
# phase_tag = "Iguanas 2nd launch"
# phase_tag = "Iguanas 3rd launch"
input_path = Path("/Users/christian/data/zooniverse")

# use_gold_standard_subset = "expert" # Use the expert-GS-Xphase as the basis
output_path = Path("/Users/christian/data/zooniverse/2024_04_08_analysis").joinpath(phase_tag).resolve()

output_plot_path = output_path.joinpath("plots")
output_plot_path.mkdir(parents=True, exist_ok=True)

config = get_config(phase_tag=phase_tag, input_path=input_path, output_path=output_path)


config

{'annotations_source': PosixPath('/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv'),
 'goldstandard_data': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv'),
 'gold_standard_image_subset': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv'),
 'image_source': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch'),
 'yes_no_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/yes_no_dataset_Iguanas 1st launch.csv'),
 'flat_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_Iguanas 1st launch.csv'),
 'merged_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv'),
 'gold_standard_and_expert_count': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_gold_standard_and_expert_count.csv'),
 'comparison_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_comparison.csv'),
 'method_sums': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_sums.csv'),
 'rmse_errors': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_rmse_errors.csv'),
 'dbscan_hyperparam_grid': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_hyperparam_grid.csv')}

In [2]:
df_flat = pd.read_csv(
    config["flat_dataset"], sep=",", index_col=0)
df_flat

,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name
flight_site_code,,,,,,,,,,
NaN,14370,96.620,NaN,44273024,484.234375,277.609375,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44273037,623.601562,236.324219,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,427.359375,163.644531,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,443.312500,181.160156,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,541.656250,221.363281,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
...,...,...,...,...,...,...,...,...,...,...
SFB,14370,134.236,SFB02-4-1_366.jpg,47969950,76.180832,413.558899,"Could be an iguana, not sure",Iguanas 1st launch,2388162.0,danielleperez
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,358.369049,137.822800,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-7e58f946be4cd0ce3d48
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,355.557495,143.556152,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-9c78d18da359ff03d380
NaN,14370,134.236,SFB01-3_24.jpg,48020715,670.645691,294.026306,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-b94d243cc0716f617eea
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,353.312500,119.750000,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-3caee6a0e40db57ab05f

In [3]:
df_flat.groupby('workflow_version').size().sort_values(ascending=False)

workflow_version
134.236    37184
121.144     2983
134.178       37
108.740       26
134.235       24
115.138       15
104.720        8
114.790        8
115.135        3
134.182        3
115.790        2
96.620         1
dtype: int64

In [4]:
df_flat_filtered = pd.read_csv(
    config["merged_dataset"], sep=",", index_col=0)
df_flat_filtered

,flight_site_code,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name,mission_name,image_path,width,height
0,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,376.160156,84.558594,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
1,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,272.695312,297.894531,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
2,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,111.898438,410.011719,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
3,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,462.800781,390.786377,Adult Male in a lek,Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
4,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,545.598145,423.652527,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,406.704041,383.049408,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3043,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,577.184998,270.231110,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3044,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,316.314850,392.354614,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3045,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,326.542725,402.156372,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3046,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,318.994141,396.814789,Adult Male alone,Iguanas 1st launch,2193415.0,kbohensky63,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630

In [5]:
df_expert_count = pd.read_csv(config["goldstandard_data"], sep=";")
df_expert_count["subject_id"]

0       47969795
1       47969531
2       47969760
3       47969815
4       47969821
          ...
2728    47990261
2729    47990268
2730    47990280
2731    47990285
2732    47990290
Name: subject_id, Length: 2733, dtype: int64

In [6]:
df_flat[df_flat.subject_id.isin(df_expert_count["subject_id"])].groupby('workflow_version').size()

workflow_version
134.236    6351
dtype: int64

## Analysing the differences between panotes extract and the custom data_prep method

In [7]:
df_panotes_point_extractor = pd.read_csv("/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/panoptes/point_extractor_by_frame_extractions.csv", sep=",")
df_panotes_question = pd.read_csv("/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/panoptes/question_extractor_extractions.csv", sep=",")

df_panotes_point_extractor

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/254832656.py:1: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_panotes_point_extractor = pd.read_csv("/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/panoptes/point_extractor_by_frame_extractions.csv", sep=",")

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool4_x,...,data.frame0.T2_tool2_x,data.frame0.T2_tool2_y,data.frame0.T4_tool0_x,data.frame0.T4_tool0_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y
0,260240745,A.Over,1917644.0,14370,T2,2020-07-13 14:05:35 UTC,44660566,point_extractor_by_frame,4.1.0,"[703.8938598632812, 533.8110961914062, 522.188...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,260240745,A.Over,1917644.0,14370,T4,2020-07-13 14:05:35 UTC,44660566,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,260241700,A.Over,1917644.0,14370,T2,2020-07-13 14:09:21 UTC,44660656,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,260241700,A.Over,1917644.0,14370,T4,2020-07-13 14:09:21 UTC,44660656,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,260242239,A.Over,1917644.0,14370,T2,2020-07-13 14:11:37 UTC,44660593,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000385,383293740,DofEJK,2158981.0,14370,T4,2021-12-14 19:51:54 UTC,47970069,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000386,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T2,2022-01-13 14:13:01 UTC,47970037,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000387,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T4,2022-01-13 14:13:01 UTC,47970037,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000388,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T2,2022-01-13 14:13:18 UTC,47969950,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000389,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T4,2022-01-13 14:13:18 UTC,47969950,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.yes,data.aggregation_version,data.no,data.photo-too-blurry-or-dark
0,260240745,A.Over,1917644.0,14370,T0,2020-07-13 14:05:35 UTC,44660566,question_extractor,1.0,4.1.0,NaN,NaN
1,260241700,A.Over,1917644.0,14370,T0,2020-07-13 14:09:21 UTC,44660656,question_extractor,NaN,4.1.0,1.0,NaN
2,260242239,A.Over,1917644.0,14370,T0,2020-07-13 14:11:37 UTC,44660593,question_extractor,NaN,4.1.0,1.0,NaN
3,260242695,A.Over,1917644.0,14370,T0,2020-07-13 14:13:27 UTC,44660707,question_extractor,NaN,4.1.0,1.0,NaN
4,260257402,A.Over,1917644.0,14370,T0,2020-07-13 15:16:24 UTC,44660696,question_extractor,NaN,4.1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
500190,383293694,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:44 UTC,47970089,question_extractor,NaN,4.1.0,1.0,NaN
500191,383293720,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:50 UTC,47970146,question_extractor,NaN,4.1.0,1.0,NaN
500192,383293740,DofEJK,2158981.0,14370,T0,2021-12-14 19:51:54 UTC,47970069,question_extractor,NaN,4.1.0,1.0,NaN
500193,389328206,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T0,2022-01-13 14:13:01 UTC,47970037,question_extractor,NaN,4.1.0,1.0,NaN
500194,389328326,not-logged-in-d2bbfbed958ba73b4084,NaN,14370,T0,2022-01-13 14:13:18 UTC,47969950,question_extractor,NaN,4.1.0,1.0,NaN

In [9]:
### Looks the images in question

subject_id_1 = 47968423 # median and mode 11, 11
subject_id_2 = 47969478 # median and mode 4.5, 2

In [10]:
df_panotes_point_extractor[(df_panotes_point_extractor.subject_id == subject_id_2)]

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool4_x,...,data.frame0.T2_tool2_x,data.frame0.T2_tool2_y,data.frame0.T4_tool0_x,data.frame0.T4_tool0_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y
35580,266491150,JustineL,2128278.0,14370,T2,2020-08-06 09:25:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35581,266491150,JustineL,2128278.0,14370,T4,2020-08-06 09:25:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[172.38877868652344],[290.1368103027344],NaN,NaN,NaN,NaN,NaN,NaN
45286,266743841,BurleyMoor,2026672.0,14370,T2,2020-08-07 12:44:16 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45287,266743841,BurleyMoor,2026672.0,14370,T4,2020-08-07 12:44:16 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55096,266937675,Hil_Salk,2032831.0,14370,T2,2020-08-08 10:19:10 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55097,266937675,Hil_Salk,2032831.0,14370,T4,2020-08-08 10:19:10 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120592,268677533,robert1601,1861714.0,14370,T2,2020-08-17 22:39:40 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120593,268677533,robert1601,1861714.0,14370,T4,2020-08-17 22:39:40 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[169.08203125],[274.234375],NaN,NaN,NaN,NaN,NaN,NaN
122248,268715330,rgonzalez_518,2106293.0,14370,T2,2020-08-18 04:08:36 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122249,268715330,rgonzalez_518,2106293.0,14370,T4,2020-08-18 04:08:36 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,"[159.77499389648438, 320.57501220703125]","[264.5249938964844, 317.32501220703125]",NaN,NaN,NaN,NaN,NaN,NaN
140784,269064295,not-logged-in-bd490b075efcf86a5b74,NaN,14370,T2,2020-08-19 20:59:53 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140785,269064295,not-logged-in-bd490b075efcf86a5b74,NaN,14370,T4,2020-08-19 20:59:53 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176408,269666238,judethegamer805,1874204.0,14370,T2,2020-08-22 21:08:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176409,269666238,judethegamer805,1874204.0,14370,T4,2020-08-22 21:08:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[158.77850341796875],[259.0370178222656],NaN,NaN,NaN,NaN,NaN,NaN
211762,270275523,brianguyen,2133408.0,14370,T2,2020-08-26 04:21:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211763,270275523,brianguyen,2133408.0,14370,T4,2020-08-26 04:21:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[197.63333129882812],[288.4666748046875],NaN,NaN,NaN,NaN,NaN,NaN
230578,270583385,Vilhel,2138980.0,14370,T2,2020-08-27 20:08:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230579,270583385,Vilhel,2138980.0,14370,T4,2020-08-27 20:08:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230722,270584175,JackHanaway,2138786.0,14370,T2,2020-08-27 20:12:59 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230723,270584175,JackHanaway,2138786.0,14370,T4,2020-08-27 20:12:59 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[178.09765625],[284],NaN,NaN,NaN,NaN,NaN,NaN
236126,270605869,CalvinCDelta4,2138896.0,14370,T2,2020-08-27 21:57:31 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236127,270605869,CalvinCDelta4,2138896.0,14370,T4,2020-08-27 21:57:31 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[163.5882568359375],[270.59466552734375],NaN,NaN,NaN,NaN,NaN,NaN
277896,270978484,LilianaCC,2138718.0,14370,T2,2020-08-30 11:42:30 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277897,270978484,LilianaCC,2138718.0,14370,T4,2020-08-30 11:42:30 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[161],[267.75],NaN,NaN,NaN,NaN,NaN,NaN
457674,274860425,PatrickWise,2137916.0,14370,T2,2020-09-20 05:37:07 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[368.55078125, 317.34765625, 278.01171875]","[314.01953125, 328.07421875, 311.69140625]",NaN,NaN
457675,274860425,PatrickWise,2137916.0,14370,T4,2020-09-20 05:37:07 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[161.171875],[276.97265625],NaN,NaN,NaN,NaN,NaN,NaN
545510,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[385.4808044433594, 297.64971923828125, 308.45...","[314.1017150878906, 333.0191955566406, 372.205...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545511,277523792,Darkstar1977,1911549.0,14370,T4,2020-10-02 20:51:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567682,278226484,sopeyJoe1,2165180.0,14370,T2,2020-10-05 19:22:04 UTC,47969478,point_extractor_by_frame,4.1.0,"[369.2320556640625, 261.927734375]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567683,278226484,sopeyJoe1,2165180.0,14370,T4,2020-10-05 19:22:04 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[158.08485412597656],[259.6072082519531],NaN,NaN,NaN,NaN,NaN,NaN
573360,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,point_extractor_by_frame,4.1.0,"[360.46875, 259.46875]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573361,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T4,2020-10-06 17:47:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[154.46875],[267],NaN,NaN,NaN,NaN,NaN,NaN
685906,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,point_extractor_by_frame,4.1.0,[177.3570556640625],...,"[372.2124328613281, 323.48297119140625, 396.57...","[398.7186279296875, 385.921142578125, 315.2303...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685907,281167948,Pamelavans,1469510.0,14370,T4,2020-10-17 19:56:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,[166.39291381835938],[271.34234619140625],NaN,NaN,NaN,NaN,NaN,NaN
704844,282000285,Anshdeep,2179547.0,14370,T2,2020-10-21 15:01:46 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704845,282000285,Anshdeep,2179547.0,14370,T4,2020-10-21 15:01:46 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723412,282682776,mikaela.freeman.26b,2139984.0,14370,T2,2020-10-24 12:36:50 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723413,282682776,mikaela.freeman.26b,2139984.0,14370,T4,2020-10-24 12:36:50 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756902,284067456,PPLCOURSES7,2185717.0,14370,T2,2020-10-30 13:44:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756903,284067456,PPLCOURSES7,2185717.0,14370,T4,2020-10-30 13:44:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_panotes_point_extractor_r = df_panotes_point_extractor[
    (df_panotes_point_extractor.subject_id == subject_id_2) & 
    (df_panotes_point_extractor.task == "T2")
    # & (df_panotes_point_extractor.user_name == "jickjack")
]
df_panotes_point_extractor_r.columns

Index(['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
       'created_at', 'subject_id', 'extractor', 'data.aggregation_version',
       'data.frame0.T2_tool4_x', 'data.frame0.T2_tool4_y',
       'data.frame0.T4_tool5_x', 'data.frame0.T4_tool5_y',
       'data.frame0.T4_tool3_x', 'data.frame0.T4_tool3_y',
       'data.frame0.T4_tool4_x', 'data.frame0.T4_tool4_y',
       'data.frame0.T4_tool6_x', 'data.frame0.T4_tool6_y',
       'data.frame0.T2_tool1_x', 'data.frame0.T2_tool1_y',
       'data.frame0.T2_tool0_x', 'data.frame0.T2_tool0_y',
       'data.frame0.T2_tool2_x', 'data.frame0.T2_tool2_y',
       'data.frame0.T4_tool0_x', 'data.frame0.T4_tool0_y',
       'data.frame0.T4_tool1_x', 'data.frame0.T4_tool1_y',
       'data.frame0.T2_tool3_x', 'data.frame0.T2_tool3_y',
       'data.frame0.T4_tool2_x', 'data.frame0.T4_tool2_y'],
      dtype='object')

# Which is tool is which now??
There these tools 
- data.frame0.T2_tool0_x 
- data.frame0.T2_tool1_x 
- data.frame0.T2_tool2_x
- data.frame0.T2_tool3_x
- data.frame0.T2_tool4_x

Those reflect the tools in the point_extractor_by_frame Extractor_config_workflow_14370_V134.236.yaml
and probably belong to the classification (in that order, from the lab page) 
- Adult Male in a lek
- Adult Male alone
- Others (females, young males, juveniles)
- Partial iguana
- Could be an iguana, not sure

Is "Could be an iguana, not sure" included in the study?

In [12]:
# create a flat from that.
from ast import literal_eval

# including partial iguana == data.frame0.T2_tool3
# columns_keep_x = ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool3_x', 'data.frame0.T2_tool4_x']
# columns_keep_y = ['data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool3_y', 'data.frame0.T2_tool4_y']


columns_keep_x = ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool4_x']
columns_keep_y = ['data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool4_y']

# for col in ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool4_x',
#             'data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool4_y']:

for col in columns_keep_x + columns_keep_y:
    df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])

# Merge the lists in 'x' and 'y' coordinates
df_panotes_point_extractor_r['merged_x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
df_panotes_point_extractor_r['merged_y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()

# Flatten the lists in each row for 'x' and 'y'
df_panotes_point_extractor_r['merged_x'] = df_panotes_point_extractor_r['merged_x'].apply(lambda x: [item for sublist in x for item in sublist])
df_panotes_point_extractor_r['merged_y'] = df_panotes_point_extractor_r['merged_y'].apply(lambda x: [item for sublist in x for item in sublist])

# Explode the DataFrame to separate rows for each x, y pair
# Note: This requires pandas >= 0.25 for simultaneous explode
# df_panotes_point_extractor_r_exploded = df_panotes_point_extractor_r.apply(pd.Series.explode)

# Explode the DataFrame based on these columns to get separate rows for each list element
# Make sure to perform the explode operation on both columns simultaneously to keep the x and y coordinates paired
df_panotes_point_extractor_r

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/650428567.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/650428567.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['merged_x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/650428567.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['merged_y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/650428567.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['merged_x'] = df_panotes_point_extractor_r['merged_x'].apply(lambda x: [item for sublist in x for item in sublist])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_106/650428567.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['merged_y'] = df_panotes_point_extractor_r['merged_y'].apply(lambda x: [item for sublist in x for item in sublist])

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool4_x,...,data.frame0.T4_tool0_x,data.frame0.T4_tool0_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T2_tool3_x,data.frame0.T2_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,merged_x,merged_y
35580,266491150,JustineL,2128278.0,14370,T2,2020-08-06 09:25:41 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
45286,266743841,BurleyMoor,2026672.0,14370,T2,2020-08-07 12:44:16 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
55096,266937675,Hil_Salk,2032831.0,14370,T2,2020-08-08 10:19:10 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
120592,268677533,robert1601,1861714.0,14370,T2,2020-08-17 22:39:40 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
122248,268715330,rgonzalez_518,2106293.0,14370,T2,2020-08-18 04:08:36 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
140784,269064295,not-logged-in-bd490b075efcf86a5b74,NaN,14370,T2,2020-08-19 20:59:53 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
176408,269666238,judethegamer805,1874204.0,14370,T2,2020-08-22 21:08:41 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
211762,270275523,brianguyen,2133408.0,14370,T2,2020-08-26 04:21:41 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
230578,270583385,Vilhel,2138980.0,14370,T2,2020-08-27 20:08:38 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
230722,270584175,JackHanaway,2138786.0,14370,T2,2020-08-27 20:12:59 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
236126,270605869,CalvinCDelta4,2138896.0,14370,T2,2020-08-27 21:57:31 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
277896,270978484,LilianaCC,2138718.0,14370,T2,2020-08-30 11:42:30 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
457674,274860425,PatrickWise,2137916.0,14370,T2,2020-09-20 05:37:07 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,"[368.55078125, 317.34765625, 278.01171875]","[314.01953125, 328.07421875, 311.69140625]",NaN,NaN,[],[]
545510,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[385.4808044433594, 297.64971923828125, 308.45...","[314.1017150878906, 333.0191955566406, 372.205..."
567682,278226484,sopeyJoe1,2165180.0,14370,T2,2020-10-05 19:22:04 UTC,47969478,point_extractor_by_frame,4.1.0,"[369.2320556640625, 261.927734375]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[369.2320556640625, 261.927734375]","[313.8362731933594, 160.3795623779297]"
573360,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,point_extractor_by_frame,4.1.0,"[360.46875, 259.46875]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[360.46875, 259.46875]","[312, 177]"
685906,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,point_extractor_by_frame,4.1.0,[177.3570556640625],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[372.2124328613281, 323.48297119140625, 396.57...","[398.7186279296875, 385.921142578125, 315.2303..."
704844,282000285,Anshdeep,2179547.0,14370,T2,2020-10-21 15:01:46 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
723412,282682776,mikaela.freeman.26b,2139984.0,14370,T2,2020-10-24 12:36:50 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
756902,284067456,PPLCOURSES7,2185717.0,14370,T2,2020-10-30 13:44:38 UTC,47969478,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]

In [13]:
df_panotes_point_extractor_r = df_panotes_point_extractor_r[['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
       'created_at', 'subject_id', 'merged_x',
       'merged_y'
]].reset_index(drop=True)

df_panotes_point_extractor_r

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,merged_x,merged_y
0,266491150,JustineL,2128278.0,14370,T2,2020-08-06 09:25:41 UTC,47969478,[],[]
1,266743841,BurleyMoor,2026672.0,14370,T2,2020-08-07 12:44:16 UTC,47969478,[],[]
2,266937675,Hil_Salk,2032831.0,14370,T2,2020-08-08 10:19:10 UTC,47969478,[],[]
3,268677533,robert1601,1861714.0,14370,T2,2020-08-17 22:39:40 UTC,47969478,[],[]
4,268715330,rgonzalez_518,2106293.0,14370,T2,2020-08-18 04:08:36 UTC,47969478,[],[]
5,269064295,not-logged-in-bd490b075efcf86a5b74,NaN,14370,T2,2020-08-19 20:59:53 UTC,47969478,[],[]
6,269666238,judethegamer805,1874204.0,14370,T2,2020-08-22 21:08:41 UTC,47969478,[],[]
7,270275523,brianguyen,2133408.0,14370,T2,2020-08-26 04:21:41 UTC,47969478,[],[]
8,270583385,Vilhel,2138980.0,14370,T2,2020-08-27 20:08:38 UTC,47969478,[],[]
9,270584175,JackHanaway,2138786.0,14370,T2,2020-08-27 20:12:59 UTC,47969478,[],[]
10,270605869,CalvinCDelta4,2138896.0,14370,T2,2020-08-27 21:57:31 UTC,47969478,[],[]
11,270978484,LilianaCC,2138718.0,14370,T2,2020-08-30 11:42:30 UTC,47969478,[],[]
12,274860425,PatrickWise,2137916.0,14370,T2,2020-09-20 05:37:07 UTC,47969478,[],[]
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,"[385.4808044433594, 297.64971923828125, 308.45...","[314.1017150878906, 333.0191955566406, 372.205..."
14,278226484,sopeyJoe1,2165180.0,14370,T2,2020-10-05 19:22:04 UTC,47969478,"[369.2320556640625, 261.927734375]","[313.8362731933594, 160.3795623779297]"
15,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,"[360.46875, 259.46875]","[312, 177]"
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,"[372.2124328613281, 323.48297119140625, 396.57...","[398.7186279296875, 385.921142578125, 315.2303..."
17,282000285,Anshdeep,2179547.0,14370,T2,2020-10-21 15:01:46 UTC,47969478,[],[]
18,282682776,mikaela.freeman.26b,2139984.0,14370,T2,2020-10-24 12:36:50 UTC,47969478,[],[]
19,284067456,PPLCOURSES7,2185717.0,14370,T2,2020-10-30 13:44:38 UTC,47969478,[],[]

In [14]:
df_panotes_point_extractor_r_ex = df_panotes_point_extractor_r.apply(lambda x: x.explode() if x.name in ['merged_x', 'merged_y'] else x)

In [15]:
df_panotes_point_extractor_r_ex.dropna(subset=['merged_x', 'merged_y'], how='all').groupby('user_name').size()

user_name
Darkstar1977                          9
Pamelavans                            7
not-logged-in-bcac79bef32f402fb848    2
sopeyJoe1                             2
dtype: int64

In [16]:
df_panotes_point_extractor_r_ex_droped = df_panotes_point_extractor_r_ex.dropna(subset=['merged_x', 'merged_y'], how='all').sort_values(by=['user_id', 'subject_id', 'task', 'created_at'])
df_panotes_point_extractor_r_ex_droped

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,merged_x,merged_y
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,372.212433,398.718628
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,323.482971,385.921143
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,396.577148,315.230316
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,330.183228,334.731262
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,291.808777,317.667938
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,397.186279,351.18512
16,281167948,Pamelavans,1469510.0,14370,T2,2020-10-17 19:56:26 UTC,47969478,177.357056,313.744781
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,385.480804,314.101715
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,297.649719,333.019196
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,308.459686,372.205383
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,357.104614,391.122833
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,385.480804,358.692902
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,334.133392,335.72168
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,271.976013,160.059494
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,247.653549,172.220734
13,277523792,Darkstar1977,1911549.0,14370,T2,2020-10-02 20:51:26 UTC,47969478,266.571014,180.328217
14,278226484,sopeyJoe1,2165180.0,14370,T2,2020-10-05 19:22:04 UTC,47969478,369.232056,313.836273
14,278226484,sopeyJoe1,2165180.0,14370,T2,2020-10-05 19:22:04 UTC,47969478,261.927734,160.379562
15,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,360.46875,312
15,278452127,not-logged-in-bcac79bef32f402fb848,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,259.46875,177

# TODO find the reason for the difference in my analysis 
I get [2, 2, 7, 9] for the SFM01-2-2-1_293.jpg - 47969478 with my dataprep
here I have [2, 7, 9] for the same image by only remove "partial iguana" but leaving "could be an iguana, not sure" in there

In [17]:
from zooniverse.utils.data_format import data_prep
use_gold_standard_subset = "expert_goldstandard"
ds_stats = data_prep(phase_tag=phase_tag, 
                         output_path=output_path, 
                         input_path=input_path,
                         filter_combination=use_gold_standard_subset, 
                         config=config)

ds_stats

2024-04-08 13:14:01.487 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 1st launch

{'retired': None, 'link': 'https://www.flickr.com/photos/hellie55/6713782851', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '3', 'attribution': 'hehaden', 'image_name_1': '6713782851_82fc8c73e5_z.jpg', '#secret_description': 'juvenile kittehs practice break-in at the catnip factory'}
{'retired': None, 'link': 'https://www.flickr.com/photos/davebloggs007/15899553966', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '16', 'attribution': 'davebloggs007', 'image_name_1': '15899553966_5debf88369_z.jpg', '#secret_description': 'makeover kitteh not sure these new contacts are sassy enough'}
{'retired': None, 'link': 'https://www.flickr.com/photos/odoketa/8762013777', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '4', 'attribution': 'David Barber', 'image_name_1': '8762013777_1fa7d91e98_z.jpg', '#secret_description': 'hunter kitteh only willing to go so far to capture the feather duster'}
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478

2024-04-08 13:14:12.241 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Main Workflow

found 47969478
found 47969478
found 47969478

2024-04-08 13:14:14.256 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: survey tool 061417
2024-04-08 13:14:16.489 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 2nd launch
2024-04-08 13:14:22.263 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 3rd launch
2024-04-08 13:14:41.631 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 4th launch
2024-04-08 13:14:41.632 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Plastics GS dataset
2024-04-08 13:14:41.653 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:263 - generating flat dataframe from the dataset
2024-04-08 13:14:43.533 | INFO     | zooniverse.utils.data_format:data_prep:312 - flat_dataset_Iguanas Iguanas 1st launch.csv: 8260 images in classification for Iguanas 1st launch
2024-04-08 13:14:43.573 | INFO     | zooniverse.utils.data_format:data_prep:321 - images source: found 2737 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch
2024-04-08 13:14:43.580 | INFO     | zooniverse.utils.data_format:data_prep:333 - found 2733 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv, the expert counts
2024-04-08 13:14:43.581 | INFO     | zooniverse.utils.data_format:data_prep:341 - working with 107 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv, the goldstandard file.
2024-04-08 13:14:43.582 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:96 - filtering the image dataset for  2737 images
2024-04-08 13:14:43.588 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:99 - working with 1014 images after filtering with image_names
2024-04-08 13:14:43.588 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:102 - filtering the image dataset for  107 subject_ids
2024-04-08 13:14:43.591 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:105 - working with 107 images after filtering with subject_ids
2024-04-08 13:14:44.805 | INFO     | zooniverse.analysis:get_all_image_paths:72 - done with processing Image Metadata.
2024-04-08 13:14:44.831 | WARNING  | zooniverse.utils.filters:filter_remove_marks:38 - removed 64 partial marks
2024-04-08 13:14:44.831 | WARNING  | zooniverse.utils.filters:filter_remove_marks:39 - After filter_func 107 images are left
2024-04-08 13:14:44.833 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:121 - working with 3047 records after filtering with filter_func
2024-04-08 13:14:44.839 | INFO     | zooniverse.utils.data_format:data_prep:370 - working with 3047 records after process function 'process_zooniverse_phases'
2024-04-08 13:14:44.857 | INFO     | zooniverse.utils.data_format:data_prep:372 - saved finished dataset to /Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv

                                       filename  images
0           flat_dataset_Iguanas 1st launch.csv    8260
1                                    1st launch    2737
2                        expert-GS-1stphase.csv    2733
3                    1-T2-GS-results-5th-0s.csv     107
4  flat_dataset_filtered_Iguanas 1st launch.csv     107

In [18]:
df_flat_data_prep = pd.read_csv(config["flat_dataset"], sep=",", index_col=0)
df_flat_data_prep[df_flat_data_prep.subject_id == subject_id_2]

,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name
flight_site_code,,,,,,,,,,
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,368.550781,314.019531,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,317.347656,328.074219,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,278.011719,311.691406,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,314.101715,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,297.649719,333.019196,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,308.459686,372.205383,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,357.104614,391.122833,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,358.692902,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,334.133392,335.721680,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,271.976013,160.059494,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,247.653549,172.220734,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,266.571014,180.328217,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,369.232056,313.836273,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,261.927734,160.379562,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,360.468750,312.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,259.468750,177.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,372.212433,398.718628,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,323.482971,385.921143,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,396.577148,315.230316,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,330.183228,334.731262,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,291.808777,317.667938,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,397.186279,351.185120,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,177.357056,313.744781,"Could be an iguana, not sure",Iguanas 1st launch,1469510.0,Pamelavans

In [19]:
df_merged_data_prep = pd.read_csv(config["merged_dataset"], sep=",", index_col=0)
df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2]

,flight_site_code,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name,mission_name,image_path,width,height
1584,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,314.101715,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1585,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,297.649719,333.019196,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1586,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,308.459686,372.205383,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1587,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,357.104614,391.122833,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1588,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,358.692902,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1589,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,334.133392,335.721680,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1590,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,271.976013,160.059494,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1591,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,247.653549,172.220734,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1592,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,266.571014,180.328217,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1641,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,369.232056,313.836273,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1642,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,261.927734,160.379562,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1677,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,360.468750,312.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1678,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,259.468750,177.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2006,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,372.212433,398.718628,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2007,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,323.482971,385.921143,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2008,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,396.577148,315.230316,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2009,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,330.183228,334.731262,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2010,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,291.808777,317.667938,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2011,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,397.186279,351.185120,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2012,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,177.357056,313.744781,"Could be an iguana, not sure",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649

In [25]:
sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)])

[177,
 247,
 259,
 261,
 266,
 271,
 291,
 297,
 308,
 323,
 330,
 334,
 357,
 360,
 369,
 372,
 385,
 385,
 396,
 397]

In [26]:
sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_droped.merged_x)])

[177,
 247,
 259,
 261,
 266,
 271,
 291,
 297,
 308,
 323,
 330,
 334,
 357,
 360,
 369,
 372,
 385,
 385,
 396,
 397]

In [31]:
## both methods yield the same coordinate lists
assert sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)]) == sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_droped.merged_x)]), "The x coordinates are not the same"