# Looking into the workflow processes

In [1]:
from zooniverse.config import get_config
import pandas as pd
from pathlib import Path

### use either the subset of the subset
phase_tag = "Iguanas 1st launch"
# phase_tag = "Iguanas 2nd launch"
# phase_tag = "Iguanas 3rd launch"
input_path = Path("/Users/christian/data/zooniverse")

# use_gold_standard_subset = "expert" # Use the expert-GS-Xphase as the basis
output_path = Path("/Users/christian/data/zooniverse/2024_04_08_analysis").joinpath(phase_tag).resolve()

output_plot_path = output_path.joinpath("plots")
output_plot_path.mkdir(parents=True, exist_ok=True)

config = get_config(phase_tag=phase_tag, input_path=input_path, output_path=output_path)


config

{'annotations_source': PosixPath('/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv'),
 'goldstandard_data': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv'),
 'gold_standard_image_subset': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv'),
 'image_source': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch'),
 'yes_no_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/yes_no_dataset_Iguanas 1st launch.csv'),
 'flat_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_Iguanas 1st launch.csv'),
 'merged_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv'),
 'gold_standard_and_expert_count': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_gold_standard_and_expert_count.csv'),
 'comparison_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_comparison.csv'),
 'method_sums': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_sums.csv'),
 'rmse_errors': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_rmse_errors.csv'),
 'dbscan_hyperparam_grid': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_hyperparam_grid.csv')}

In [2]:
df_flat = pd.read_csv(
    config["flat_dataset"], sep=",", index_col=0)
df_flat

,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name
flight_site_code,,,,,,,,,,
NaN,14370,96.620,NaN,44273024,484.234375,277.609375,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44273037,623.601562,236.324219,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,427.359375,163.644531,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,443.312500,181.160156,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,541.656250,221.363281,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
...,...,...,...,...,...,...,...,...,...,...
SFB,14370,134.236,SFB02-4-1_366.jpg,47969950,76.180832,413.558899,"Could be an iguana, not sure",Iguanas 1st launch,2388162.0,danielleperez
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,358.369049,137.822800,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-7e58f946be4cd0ce3d48
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,355.557495,143.556152,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-9c78d18da359ff03d380
NaN,14370,134.236,SFB01-3_24.jpg,48020715,670.645691,294.026306,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-b94d243cc0716f617eea
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,353.312500,119.750000,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-3caee6a0e40db57ab05f

In [3]:
df_flat.groupby('workflow_version').size().sort_values(ascending=False)

workflow_version
134.236    37184
121.144     2983
134.178       37
108.740       26
134.235       24
115.138       15
104.720        8
114.790        8
115.135        3
134.182        3
115.790        2
96.620         1
dtype: int64

In [4]:
df_flat_filtered = pd.read_csv(
    config["merged_dataset"], sep=",", index_col=0)
df_flat_filtered

,flight_site_code,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name,mission_name,image_path,width,height
0,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,376.160156,84.558594,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
1,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,272.695312,297.894531,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
2,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,111.898438,410.011719,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
3,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,462.800781,390.786377,Adult Male in a lek,Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
4,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,545.598145,423.652527,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,406.704041,383.049408,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3043,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,577.184998,270.231110,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3044,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,316.314850,392.354614,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3045,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,326.542725,402.156372,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3046,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,318.994141,396.814789,Adult Male alone,Iguanas 1st launch,2193415.0,kbohensky63,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630

In [5]:
df_expert_count = pd.read_csv(config["goldstandard_data"], sep=";")
df_expert_count["subject_id"]

0       47969795
1       47969531
2       47969760
3       47969815
4       47969821
          ...
2728    47990261
2729    47990268
2730    47990280
2731    47990285
2732    47990290
Name: subject_id, Length: 2733, dtype: int64

In [6]:
df_flat[df_flat.subject_id.isin(df_expert_count["subject_id"])].groupby('workflow_version').size()

workflow_version
134.236    6351
dtype: int64