# Looking into the workflow processes

In [2]:
from zooniverse.config import get_config
import pandas as pd
from pathlib import Path

### use either the subset of the subset
phase_tag = "Iguanas 1st launch"
# phase_tag = "Iguanas 2nd launch"
# phase_tag = "Iguanas 3rd launch"
input_path = Path("/Users/christian/data/zooniverse")

# use_gold_standard_subset = "expert" # Use the expert-GS-Xphase as the basis
output_path = Path("/Users/christian/data/zooniverse/2024_04_08_analysis").joinpath(phase_tag).resolve()

output_plot_path = output_path.joinpath("plots")
output_plot_path.mkdir(parents=True, exist_ok=True)

config = get_config(phase_tag=phase_tag, input_path=input_path, output_path=output_path)


config

{'annotations_source': PosixPath('/Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv'),
 'goldstandard_data': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv'),
 'gold_standard_image_subset': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv'),
 'image_source': PosixPath('/Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch'),
 'yes_no_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/yes_no_dataset_Iguanas 1st launch.csv'),
 'flat_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_Iguanas 1st launch.csv'),
 'merged_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv'),
 'gold_standard_and_expert_count': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_gold_standard_and_expert_count.csv'),
 'comparison_dataset': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_comparison.csv'),
 'method_sums': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_method_sums.csv'),
 'rmse_errors': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_rmse_errors.csv'),
 'dbscan_hyperparam_grid': PosixPath('/Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/Iguanas 1st launch_hyperparam_grid.csv')}

In [3]:
df_flat = pd.read_csv(
    config["flat_dataset"], sep=",", index_col=0)
df_flat

,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name
flight_site_code,,,,,,,,,,
NaN,14370,96.620,NaN,44273024,484.234375,277.609375,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44273037,623.601562,236.324219,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,427.359375,163.644531,Adult Male in a lek,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,443.312500,181.160156,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
NaN,14370,104.720,NaN,44272996,541.656250,221.363281,Adult Male alone,Iguanas 1st launch,1983945.0,ANDREAVARELA89
...,...,...,...,...,...,...,...,...,...,...
SFB,14370,134.236,SFB02-4-1_366.jpg,47969950,76.180832,413.558899,"Could be an iguana, not sure",Iguanas 1st launch,2388162.0,danielleperez
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,358.369049,137.822800,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-7e58f946be4cd0ce3d48
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,355.557495,143.556152,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-9c78d18da359ff03d380
NaN,14370,134.236,SFB01-3_24.jpg,48020715,670.645691,294.026306,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-b94d243cc0716f617eea
SFB,14370,134.236,SFB02-4-2_96.jpg,47970166,353.312500,119.750000,Adult Male alone,Iguanas 1st launch,NaN,not-logged-in-3caee6a0e40db57ab05f

In [4]:
df_flat.groupby('workflow_version').size().sort_values(ascending=False)

workflow_version
134.236    37184
121.144     2983
134.178       37
108.740       26
134.235       24
115.138       15
104.720        8
114.790        8
115.135        3
134.182        3
115.790        2
96.620         1
dtype: int64

In [5]:
df_flat_filtered = pd.read_csv(
    config["merged_dataset"], sep=",", index_col=0)
df_flat_filtered

,flight_site_code,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name,mission_name,image_path,width,height
0,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,376.160156,84.558594,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
1,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,272.695312,297.894531,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
2,SFM1,14370,134.236,SFM01-2-2-3_137.jpg,47970105,111.898438,410.011719,Adult Male alone,Iguanas 1st launch,2068663.0,aymor,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,589,573
3,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,462.800781,390.786377,Adult Male in a lek,Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
4,SFM1,14370,134.236,SFM01-1-2_264.jpg,47968406,545.598145,423.652527,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1878692.0,drewavery,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,406.704041,383.049408,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3043,SFM1,14370,134.236,SFM01-2-2-1_120.jpg,47969236,577.184998,270.231110,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-341c84c0e52bdc34f8f8,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,666,648
3044,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,316.314850,392.354614,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3045,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,326.542725,402.156372,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,2136122.0,H.axson,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630
3046,SFM1,14370,134.236,SFM01-1-2_210.jpg,47968359,318.994141,396.814789,Adult Male alone,Iguanas 1st launch,2193415.0,kbohensky63,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,599,630

In [6]:
df_expert_count = pd.read_csv(config["goldstandard_data"], sep=";")
df_expert_count["subject_id"]### Reading the data

0       47969795
1       47969531
2       47969760
3       47969815
4       47969821
          ...
2728    47990261
2729    47990268
2730    47990280
2731    47990285
2732    47990290
Name: subject_id, Length: 2733, dtype: int64

In [7]:
df_flat[df_flat.subject_id.isin(df_expert_count["subject_id"])].groupby('workflow_version').size()

workflow_version
134.236    6351
dtype: int64

# Panoptes Data Extraction from Zooniverse

## Panoptes Extract

In [8]:
# create a configuration file from the workflow
# !mkdir ./data/phase_1
# ! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 14370 --min_version 0 --max_version 142.245 -d ./data/phase_1
# 
# !mkdir ./data/phase_2
# ! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 20600 --min_version 0 --max_version 94.166 -d ./data/phase_2
# 
# !mkdir ./data/phase_3
# ! panoptes_aggregation config /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-workflows.csv 22040 --min_version 0 --max_version 9.63 -d ./data/phase_3

mkdir: ./data/phase_1: File exists
Saving Extractor config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_1/Extractor_config_workflow_14370_V142.245.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_1/Reducer_config_workflow_14370_V142.245_point_extractor_by_frame.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_1/Reducer_config_workflow_14370_V142.245_question_extractor.yaml

Saving task key look up table to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_1/Task_labels_workflow_14370_V142.245.yaml
mkdir: ./data/phase_2: File exists
Saving Extractor config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_2/Extractor_config_workflow_20600_V94.166.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_2/Reducer_config_workflow_20600_V94.166_point_extractor_by_frame.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_2/Reducer_config_workflow_20600_V94.166_question_extractor.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_2/Reducer_config_workflow_20600_V94.166_shape_extractor_rectangle.yaml

Saving task key look up table to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_2/Task_labels_workflow_20600_V94.166.yaml
mkdir: ./data/phase_3: File exists
Saving Extractor config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_3/Extractor_config_workflow_22040_V9.63.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_3/Reducer_config_workflow_22040_V9.63_point_extractor_by_frame.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_3/Reducer_config_workflow_22040_V9.63_question_extractor.yaml

Saving Reducer config to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_3/Reducer_config_workflow_22040_V9.63_shape_extractor_rectangle.yaml

Saving task key look up table to:
/Users/christian/PycharmProjects/iguanas-from-above-zooniverse/data/phase_3/Task_labels_workflow_22040_V9.63.yaml

In [9]:
# TODO how to extract multiple workflow versions???
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_1/ ./data/phase_1/Extractor_config_workflow_14370_V142.245.yaml
# 
# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_2/ ./data/phase_2/Extractor_config_workflow_20600_V94.166.yaml

# !panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d ./data/phase_3 ./data/phase_3/Extractor_config_workflow_22040_V9.63.yaml

# Look into the subjects file
This contains the mappings from the subject_id to the image file

In [10]:
df_subjects = pd.read_csv("./data/iguanas-from-above-subjects.csv", sep=",")
df_subjects

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/3826510108.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subjects = pd.read_csv("./data/iguanas-from-above-subjects.csv", sep=",")

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC
...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC

## TODO Merge the extractions if there are multiple extractions per phase

In [11]:
# for phase in ["phase_1", "phase_2", "phase_3"]:


# panoptes_aggregation extract /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/iguanas-from-above-classifications.csv -d /Users/christian/data/zooniverse/IguanasFromAbove/2023-10-15/panoptes Extractor_config_workflow_14370_V142.245.yaml

df_panotes_point_extractor = pd.read_csv("./data/phase_1/point_extractor_by_frame_extractions.csv", sep=",")
df_panotes_question = pd.read_csv("./data/phase_1/question_extractor_extractions.csv", sep=",")

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1177924769.py:6: DtypeWarning: Columns (31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_panotes_point_extractor = pd.read_csv("./data/phase_1/point_extractor_by_frame_extractions.csv", sep=",")

KeyError: "['image_name'] not in index"

In [ ]:
df_panotes_point_extractor

In [ ]:
def get_json_keys(json_str):
    try:
        json_obj = json.loads(json_str)
        return list(json_obj.keys())
    except json.JSONDecodeError:
        return []

# Apply the function to each row in the metadata column and collect all keys
all_keys = df_subjects['metadata'].apply(get_json_keys)

# Flatten the list of lists and get unique keys
unique_keys = set([key for sublist in all_keys for key in sublist])

print(unique_keys)

In [13]:
import json

df_subjects[["subject_id", "metadata"]]

df_subjects["image_name"] = df_subjects['metadata'].apply(lambda x: json.loads(x).get('Image_name') 
                                        or json.loads(x).get('image_name') 
                                        or json.loads(x).get('Filename')).sort_values(ascending=True)
df_subjects

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,image_name
0,44660549,11905,NaN,83766,"{""image_name"":""SMF02-1-2-2_740.jpg"",""subject_i...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:33 UTC,2020-05-12 11:01:33 UTC,SMF02-1-2-2_740.jpg
1,44660550,11905,NaN,83766,"{""image_name"":""SRIL03-2-1_153.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:39 UTC,2020-05-12 11:01:39 UTC,SRIL03-2-1_153.jpg
2,44660551,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_90.jpg"",""subject_id""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:45 UTC,2020-05-12 11:01:45 UTC,SRIL03-2-2_90.jpg
3,44660552,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_127.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:49 UTC,2020-05-12 11:01:49 UTC,SRIL03-2-2_127.jpg
4,44660553,11905,NaN,83766,"{""image_name"":""SRIL03-2-2_133.jpg"",""subject_id...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2020-05-12 11:01:53 UTC,2020-05-12 11:01:53 UTC,SRIL03-2-2_133.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
68155,92469731,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",2,NaN,NaN,2023-10-12 16:28:45 UTC,2023-10-12 16:28:45 UTC,Isa_ISVB02_27012023_155.jpg
68156,92469733,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_75_36.jpg
68157,92469734,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",6,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB01_27012023_27_16.jpg
68158,92469735,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",1,NaN,NaN,2023-10-12 16:28:46 UTC,2023-10-12 16:28:46 UTC,Isa_ISVB03_77012023_28_17.jpg
68159,92469736,11905,25351.0,116619,"{""Site"":""Puerto Villamil"",""Island"":""Isabela"",""...","{""0"":""https://panoptes-uploads.zooniverse.org/...",4,NaN,NaN,2023-10-12 16:28:47 UTC,2023-10-12 16:28:47 UTC,Isa_ISVB01_27012023_51_37.jpg

In [14]:
df_panotes_point_extractor = df_panotes_point_extractor.merge(df_subjects[["subject_id", "image_name"]], left_on="subject_id", right_on="subject_id")
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool0_x,...,data.frame0.T4_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool5_x,data.frame0.T4_tool5_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name
0,238056473,ANDREAVARELA89,1983945.0,14370,T2,2020-05-12 11:50:39 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
1,238056473,ANDREAVARELA89,1983945.0,14370,T4,2020-05-12 11:50:39 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
2,257483880,not-logged-in-33bc5b21c88460dbfea6,NaN,14370,T2,2020-07-03 15:48:36 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
3,257483880,not-logged-in-33bc5b21c88460dbfea6,NaN,14370,T4,2020-07-03 15:48:36 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
4,257500131,Honestapple5,2104679.0,14370,T2,2020-07-03 16:57:57 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020279,288127706,acolom,2118412.0,14370,T4,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,"[89, 255, 400]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020280,288168438,FelipeCirqueira,2191241.0,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020281,288168438,FelipeCirqueira,2191241.0,14370,T4,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,"[406.9670104980469, 262.2330322265625, 259.898...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020282,288198132,LittleUsername,2148294.0,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020283,288198132,LittleUsername,2148294.0,14370,T4,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg

In [15]:
## Anonymise the data

In [16]:
from hashlib import blake2b

df_panotes_point_extractor["user_id"] = df_panotes_point_extractor['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_point_extractor['user_name'] = df_panotes_point_extractor['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

df_panotes_question["user_id"] = df_panotes_question['user_id'].apply(lambda x: blake2b(str(x).encode(), digest_size=16).hexdigest() if not pd.isnull(x) else x)
# Anonymize 'user_name' by hashing
df_panotes_question['user_name'] = df_panotes_question['user_name'].apply(lambda x: blake2b(x.encode(), digest_size=16).hexdigest() if isinstance(x, str) else x)

In [17]:
# TODO check if that doesn ruin the data
df_panotes_point_extractor

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool0_x,...,data.frame0.T4_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool5_x,data.frame0.T4_tool5_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name
0,238056473,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-05-12 11:50:39 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
1,238056473,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T4,2020-05-12 11:50:39 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
2,257483880,ec17f4ab6a51fee747c3f1e5f0a004c5,NaN,14370,T2,2020-07-03 15:48:36 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
3,257483880,ec17f4ab6a51fee747c3f1e5f0a004c5,NaN,14370,T4,2020-07-03 15:48:36 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
4,257500131,dc48dacf4a7d070ce8d2189d087adb8d,b53ddd25763b7daeadccf74f0ad5e67d,14370,T2,2020-07-03 16:57:57 UTC,44660549,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020279,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T4,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,"[89, 255, 400]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020280,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020281,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T4,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,"[406.9670104980469, 262.2330322265625, 259.898...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020282,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg
1020283,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T4,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg

In [18]:
df_panotes_question

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.no,data.aggregation_version,data.yes,data.photo-too-blurry-or-dark
0,232620575,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-04-30 12:04:49 UTC,44273036,question_extractor,1.0,4.1.0,NaN,NaN
1,232685836,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-04-30 14:18:48 UTC,44273024,question_extractor,NaN,4.1.0,1.0,NaN
2,232690022,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-04-30 14:25:13 UTC,44273037,question_extractor,NaN,4.1.0,1.0,NaN
3,232693212,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T0,2020-04-30 14:31:00 UTC,44272996,question_extractor,NaN,4.1.0,1.0,NaN
4,232779652,14fcdfb20e7001d8e866e24fef9780ec,NaN,14370,T0,2020-04-30 16:38:38 UTC,44281461,question_extractor,1.0,4.1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
510800,383293720,cfbf6573c2dcd1386dfce451d9f6be93,945fed5a4ee1a07cb3b13647e3c1f8e9,14370,T0,2021-12-14 19:51:50 UTC,47970146,question_extractor,1.0,4.1.0,NaN,NaN
510801,383293740,cfbf6573c2dcd1386dfce451d9f6be93,945fed5a4ee1a07cb3b13647e3c1f8e9,14370,T0,2021-12-14 19:51:54 UTC,47970069,question_extractor,1.0,4.1.0,NaN,NaN
510802,389328206,aa5f2961151e502de5ff29fb40337fe5,NaN,14370,T0,2022-01-13 14:13:01 UTC,47970037,question_extractor,1.0,4.1.0,NaN,NaN
510803,389328326,aa5f2961151e502de5ff29fb40337fe5,NaN,14370,T0,2022-01-13 14:13:18 UTC,47969950,question_extractor,1.0,4.1.0,NaN,NaN
510804,400947304,19835766ecbb50ec6fbe68caa85e4c63,8bfe78a8dc879fc7aabe1ff94a42d74f,14370,T0,2022-03-07 11:23:01 UTC,47969894,question_extractor,NaN,4.1.0,1.0,NaN

# Debugging

In [19]:
### Looks the images in question

subject_id_1 = 47968423 # median and mode 11, 11
subject_id_2 = 47969478 # median and mode 4.5, 2
df_panotes_point_extractor[(df_panotes_point_extractor.subject_id == subject_id_2)]

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool0_x,...,data.frame0.T4_tool3_y,data.frame0.T4_tool2_x,data.frame0.T4_tool2_y,data.frame0.T4_tool5_x,data.frame0.T4_tool5_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name
523348,266491150,378b9eb095df1f812df933857dd635e8,03b95da792ebd66bf0f3e738bb886ed9,14370,T2,2020-08-06 09:25:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523349,266491150,378b9eb095df1f812df933857dd635e8,03b95da792ebd66bf0f3e738bb886ed9,14370,T4,2020-08-06 09:25:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523350,266743841,d30f89f8a947dd9d63f0cb0c0c46dc45,a507e3b82e85733a0138eec7dec68aed,14370,T2,2020-08-07 12:44:16 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523351,266743841,d30f89f8a947dd9d63f0cb0c0c46dc45,a507e3b82e85733a0138eec7dec68aed,14370,T4,2020-08-07 12:44:16 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[562.385009765625, 247.94473266601562, 383.320...",NaN,NaN,NaN,NaN,NaN,NaN,"[387.4653625488281, 156.81886291503906]","[313.1757507324219, 267.8349914550781]",SFM01-2-2-1_293.jpg
523352,266937675,93153a745f6d870f35900ea72c3d5528,47569988fc134ca2f55d60ba97df2e9e,14370,T2,2020-08-08 10:19:10 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523353,266937675,93153a745f6d870f35900ea72c3d5528,47569988fc134ca2f55d60ba97df2e9e,14370,T4,2020-08-08 10:19:10 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,[554.9500122070312],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523354,268677533,43505cffc364520096716c3deaeac174,dc806676dc000a9774b734ebf157382a,14370,T2,2020-08-17 22:39:40 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523355,268677533,43505cffc364520096716c3deaeac174,dc806676dc000a9774b734ebf157382a,14370,T4,2020-08-17 22:39:40 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,[575.7890625],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523356,268715330,979b0d58c5aadc6c4c1c1a7874c9833d,1f013eca6bffc1383e29d77dbea34e37,14370,T2,2020-08-18 04:08:36 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523357,268715330,979b0d58c5aadc6c4c1c1a7874c9833d,1f013eca6bffc1383e29d77dbea34e37,14370,T4,2020-08-18 04:08:36 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523358,269064295,d2c21e890e3fc550e9b43bb4a5d64991,NaN,14370,T2,2020-08-19 20:59:53 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523359,269064295,d2c21e890e3fc550e9b43bb4a5d64991,NaN,14370,T4,2020-08-19 20:59:53 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[550.9740600585938],[560.5242309570312],SFM01-2-2-1_293.jpg
523360,269666238,dd37a81824db574314f9c6ed1da5a68e,5755ecb0af0ef00ddcdb2d68f571b35d,14370,T2,2020-08-22 21:08:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523361,269666238,dd37a81824db574314f9c6ed1da5a68e,5755ecb0af0ef00ddcdb2d68f571b35d,14370,T4,2020-08-22 21:08:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523362,270275523,152ad9dcd6135dd625a8051f0efdbb72,3f5a5ac90682c77736c2eacbf774c521,14370,T2,2020-08-26 04:21:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523363,270275523,152ad9dcd6135dd625a8051f0efdbb72,3f5a5ac90682c77736c2eacbf774c521,14370,T4,2020-08-26 04:21:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523364,270583385,163558a4f47eacf64c9d3d43a578a985,bedded9213a6aa399869358b00ff6b3a,14370,T2,2020-08-27 20:08:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523365,270583385,163558a4f47eacf64c9d3d43a578a985,bedded9213a6aa399869358b00ff6b3a,14370,T4,2020-08-27 20:08:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,[560.1840209960938],NaN,NaN,NaN,NaN,NaN,NaN,[158.8762969970703],[272.35540771484375],SFM01-2-2-1_293.jpg
523366,270584175,778439348eb8dcf43bf6c7a2e5ddc6ff,64197358af80eadc0aedcf3fc518a09d,14370,T2,2020-08-27 20:12:59 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523367,270584175,778439348eb8dcf43bf6c7a2e5ddc6ff,64197358af80eadc0aedcf3fc518a09d,14370,T4,2020-08-27 20:12:59 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523368,270605869,1ad7d2824b87f393461c0a2317dd91a2,af419555a4d0034ef0e4e3270654dd6a,14370,T2,2020-08-27 21:57:31 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523369,270605869,1ad7d2824b87f393461c0a2317dd91a2,af419555a4d0034ef0e4e3270654dd6a,14370,T4,2020-08-27 21:57:31 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,[569.2435913085938],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523370,270978484,1969a4420a6617a25fe2fd5b82faaeff,ebf397689eb48e28c2ee75771a0ed769,14370,T2,2020-08-30 11:42:30 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523371,270978484,1969a4420a6617a25fe2fd5b82faaeff,ebf397689eb48e28c2ee75771a0ed769,14370,T4,2020-08-30 11:42:30 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[570.75, 486.75, 245.75, 125.75, 388.75, 621.75]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523372,274860425,93da71391cc0dc87bc09a9a98f631c40,14413f6d4f6c2c6c53e112f8cd712cb0,14370,T2,2020-09-20 05:37:07 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523373,274860425,93da71391cc0dc87bc09a9a98f631c40,14413f6d4f6c2c6c53e112f8cd712cb0,14370,T4,2020-09-20 05:37:07 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[560.02734375, 620.3515625, 382.94921875, 246....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523374,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T2,2020-10-02 20:51:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523375,277523792,36b2040ae4dd151b163da8d682e46cf7,073346196f12bd1b43f022c341e41b15,14370,T4,2020-10-02 20:51:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[126.27831268310547, 207.35316467285156, 250.5...",NaN,NaN,"[573.30419921875, 571.9530029296875]","[603.2687377929688, 458.6852111816406]",NaN,NaN,[170.63243103027344],[268.1593017578125],SFM01-2-2-1_293.jpg
523376,278226484,06a327db52349e9de3c9760317722820,f592ba29d98746a392f1d8413ef75ef7,14370,T2,2020-10-05 19:22:04 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523377,278226484,06a327db52349e9de3c9760317722820,f592ba29d98746a392f1d8413ef75ef7,14370,T4,2020-10-05 19:22:04 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[126.91908264160156, 126.91908264160156, 244.6...",NaN,NaN,NaN,NaN,NaN,NaN,[313.84918212890625],[379.6034240722656],SFM01-2-2-1_293.jpg
523378,278452127,5e7afdb2b258451e1b3cec2e3ddbb317,NaN,14370,T2,2020-10-06 17:47:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523379,278452127,5e7afdb2b258451e1b3cec2e3ddbb317,NaN,14370,T4,2020-10-06 17:47:41 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523380,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T2,2020-10-17 19:56:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523381,281167948,b0f5fa7789909ee79b0264f924b28554,a81ed872b140906f0464087b41a3df2b,14370,T4,2020-10-17 19:56:26 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,"[563.8060302734375, 394.3917236328125, 123.860...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523382,282000285,08283e084ff53e1d84af0a7ce22e0316,a017aa105acf44a95439cd29e558d725,14370,T2,2020-10-21 15:01:46 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523383,282000285,08283e084ff53e1d84af0a7ce22e0316,a017aa105acf44a95439cd29e558d725,14370,T4,2020-10-21 15:01:46 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523384,282682776,16df0a3fa73a9f7b6b0d62dd89dcd1b1,caff599903addd4c752d7d7906f44886,14370,T2,2020-10-24 12:36:50 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523385,282682776,16df0a3fa73a9f7b6b0d62dd89dcd1b1,caff599903addd4c752d7d7906f44886,14370,T4,2020-10-24 12:36:50 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523386,284067456,9c78d2320dac96bd2039404b6a2b9b19,ca2951bcf3e4c20def84298b77993500,14370,T2,2020-10-30 13:44:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM01-2-2-1_293.jpg
523387,284067456,9c78d2320dac96bd2039404b6a2b9b19,ca2951bcf3e4c20def84298b77993500,14370,T4,2020-10-30 13:44:38 UTC,47969478,point_extractor_by_frame,4.1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[163.96875],[284.25],SFM01-2-2-1_293.jpg

In [20]:
df_panotes_point_extractor_r = df_panotes_point_extractor[
    # (df_panotes_point_extractor.subject_id == subject_id_2) &  # filter for this subject_id only
    (df_panotes_point_extractor.task == "T2")
    # & (df_panotes_point_extractor.user_name == "jickjack")
]
df_panotes_point_extractor_r.columns

Index(['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
       'created_at', 'subject_id', 'extractor', 'data.aggregation_version',
       'data.frame0.T2_tool0_x', 'data.frame0.T2_tool0_y',
       'data.frame0.T4_tool4_x', 'data.frame0.T4_tool4_y',
       'data.frame0.T2_tool1_x', 'data.frame0.T2_tool1_y',
       'data.frame0.T2_tool2_x', 'data.frame0.T2_tool2_y',
       'data.frame0.T2_tool3_x', 'data.frame0.T2_tool3_y',
       'data.frame0.T2_tool4_x', 'data.frame0.T2_tool4_y',
       'data.frame0.T4_tool0_x', 'data.frame0.T4_tool0_y',
       'data.frame0.T4_tool3_x', 'data.frame0.T4_tool3_y',
       'data.frame0.T4_tool2_x', 'data.frame0.T4_tool2_y',
       'data.frame0.T4_tool5_x', 'data.frame0.T4_tool5_y',
       'data.frame0.T4_tool1_x', 'data.frame0.T4_tool1_y',
       'data.frame0.T4_tool6_x', 'data.frame0.T4_tool6_y', 'image_name'],
      dtype='object')

### Which is tool is which now??
There these tools 
- data.frame0.T2_tool0_x 
- data.frame0.T2_tool1_x 
- data.frame0.T2_tool2_x
- data.frame0.T2_tool3_x
- data.frame0.T2_tool4_x

Those reflect the tools in the point_extractor_by_frame Extractor_config_workflow_14370_V134.236.yaml
and probably belong to the classification (in that order, from the lab page) 
- Adult Male in a lek
- Adult Male alone
- Others (females, young males, juveniles)
- Partial iguana
- Could be an iguana, not sure

Is "Could be an iguana, not sure" included in the study?

In [21]:
# create a flat from that.
from ast import literal_eval

columns_keep_x = ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool4_x']
columns_keep_y = ['data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool4_y']

# for col in ['data.frame0.T2_tool0_x', 'data.frame0.T2_tool1_x', 'data.frame0.T2_tool2_x', 'data.frame0.T2_tool4_x',
#             'data.frame0.T2_tool0_y', 'data.frame0.T2_tool1_y', 'data.frame0.T2_tool2_y', 'data.frame0.T2_tool4_y']:

for col in columns_keep_x + columns_keep_y:
    df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])

# Merge the lists in 'x' and 'y' coordinates
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()

# Flatten the lists in each row for 'x' and 'y'
df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r['x'].apply(lambda x: [item for sublist in x for item in sublist])
df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r['y'].apply(lambda x: [item for sublist in x for item in sublist])

# Explode the DataFrame to separate rows for each x, y pair
# Note: This requires pandas >= 0.25 for simultaneous explode
# df_panotes_point_extractor_r_exploded = df_panotes_point_extractor_r.apply(pd.Series.explode)

# Explode the DataFrame based on these columns to get separate rows for each list element
# Make sure to perform the explode operation on both columns simultaneously to keep the x and y coordinates paired
df_panotes_point_extractor_r

/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1616128733.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r[col] = df_panotes_point_extractor_r[col].apply(lambda x: literal_eval(x) if pd.notnull(x) else [])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1616128733.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r[columns_keep_x].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1616128733.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r[columns_keep_y].values.tolist()
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1616128733.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['x'] = df_panotes_point_extractor_r['x'].apply(lambda x: [item for sublist in x for item in sublist])
/var/folders/2k/78nn7s4548986wsjh29rhj9w0000gn/T/ipykernel_21093/1616128733.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panotes_point_extractor_r['y'] = df_panotes_point_extractor_r['y'].apply(lambda x: [item for sublist in x for item in sublist])

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,extractor,data.aggregation_version,data.frame0.T2_tool0_x,...,data.frame0.T4_tool2_y,data.frame0.T4_tool5_x,data.frame0.T4_tool5_y,data.frame0.T4_tool1_x,data.frame0.T4_tool1_y,data.frame0.T4_tool6_x,data.frame0.T4_tool6_y,image_name,x,y
0,238056473,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-05-12 11:50:39 UTC,44660549,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg,[],[]
2,257483880,ec17f4ab6a51fee747c3f1e5f0a004c5,NaN,14370,T2,2020-07-03 15:48:36 UTC,44660549,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg,[],[]
4,257500131,dc48dacf4a7d070ce8d2189d087adb8d,b53ddd25763b7daeadccf74f0ad5e67d,14370,T2,2020-07-03 16:57:57 UTC,44660549,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg,[],[]
6,257500556,1e09aaeb01d2f4aff4451e2e9a1318b4,2a5631143320a6d4f98929b3abd45779,14370,T2,2020-07-03 17:00:15 UTC,44660549,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg,[],[]
8,257508749,909c2290a0c6c114cf6ed1e325eb74ae,578fae6238f30c749e95ebf1472a88d3,14370,T2,2020-07-03 17:33:30 UTC,44660549,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SMF02-1-2-2_740.jpg,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020274,287939566,a7c38b9d4c0f563d6c452d4db06db678,e410233db1e818f51a48a0d47fa4fa92,14370,T2,2020-11-18 04:32:48 UTC,47970949,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1020276,288102487,58fa6a1c297b9ff1d6f96fa93f112c48,8f92f55991060f2111a7a0fab2e453ad,14370,T2,2020-11-18 19:47:25 UTC,47970949,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1020278,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T2,2020-11-18 21:32:33 UTC,47970949,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1020280,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]
1020282,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,point_extractor_by_frame,4.1.0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SFM04-1-1_369.jpg,[],[]

In [23]:
df_panotes_point_extractor_r = df_panotes_point_extractor_r[
    ['classification_id', 'user_name', 'user_id', 'workflow_id', 'task',
     'created_at', 'subject_id', "image_name",
     'x', 'y'
     ]].reset_index(drop=True)

df_panotes_point_extractor_r

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
0,238056473,386fc0ec047b7e259744e72e8e64b9f9,ea57b1088a10fa7fef30ed0b344e2ca3,14370,T2,2020-05-12 11:50:39 UTC,44660549,SMF02-1-2-2_740.jpg,[],[]
1,257483880,ec17f4ab6a51fee747c3f1e5f0a004c5,NaN,14370,T2,2020-07-03 15:48:36 UTC,44660549,SMF02-1-2-2_740.jpg,[],[]
2,257500131,dc48dacf4a7d070ce8d2189d087adb8d,b53ddd25763b7daeadccf74f0ad5e67d,14370,T2,2020-07-03 16:57:57 UTC,44660549,SMF02-1-2-2_740.jpg,[],[]
3,257500556,1e09aaeb01d2f4aff4451e2e9a1318b4,2a5631143320a6d4f98929b3abd45779,14370,T2,2020-07-03 17:00:15 UTC,44660549,SMF02-1-2-2_740.jpg,[],[]
4,257508749,909c2290a0c6c114cf6ed1e325eb74ae,578fae6238f30c749e95ebf1472a88d3,14370,T2,2020-07-03 17:33:30 UTC,44660549,SMF02-1-2-2_740.jpg,[],[]
...,...,...,...,...,...,...,...,...,...,...
510137,287939566,a7c38b9d4c0f563d6c452d4db06db678,e410233db1e818f51a48a0d47fa4fa92,14370,T2,2020-11-18 04:32:48 UTC,47970949,SFM04-1-1_369.jpg,[],[]
510138,288102487,58fa6a1c297b9ff1d6f96fa93f112c48,8f92f55991060f2111a7a0fab2e453ad,14370,T2,2020-11-18 19:47:25 UTC,47970949,SFM04-1-1_369.jpg,[],[]
510139,288127706,7e82ef4b88b037461f90958b2716c1b8,2a7bf97c8666cf6289378831707942a2,14370,T2,2020-11-18 21:32:33 UTC,47970949,SFM04-1-1_369.jpg,[],[]
510140,288168438,9e15149b8e8ef01f93697b4dfd952d33,f0e8db7c9aee1017a2699e2483bc4238,14370,T2,2020-11-19 01:03:05 UTC,47970949,SFM04-1-1_369.jpg,[],[]
510141,288198132,69b80c6be0af6a1f2fdfc07ee22e8ced,b7670915fc691ba3cf8b50ea56b3d6e1,14370,T2,2020-11-19 03:57:28 UTC,47970949,SFM04-1-1_369.jpg,[],[]

In [24]:
df_panotes_point_extractor_r_ex = df_panotes_point_extractor_r.apply(lambda x: x.explode() if x.name in ['x', 'y'] else x)

In [25]:
# images with no marks have NaN values in the 'merged_x' and 'merged_y' columns
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex.dropna(subset=['x', 'y'], how='all').sort_values(by=['user_id', 'subject_id', 'task', 'created_at'])
df_panotes_point_extractor_r_ex_dropped

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
231089,283007416,77dd9c009b5200eea39788f7f15862f0,003abe9e6bb90e03c50377a33f1137a5,14370,T2,2020-10-26 09:28:46 UTC,47974351,SMF02-1-2-2_570.jpg,186.475037,310.925049
372430,271011060,fcbbe951169dc1df0b1f803a199f0995,004eb4442ae5c85fcb6b5c78ed902f41,14370,T2,2020-08-30 16:22:33 UTC,47978494,SFP01_06-2_59.jpg,272.292664,265.212067
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,358.3125,194
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,485.3125,106
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,458.3125,205
...,...,...,...,...,...,...,...,...,...,...
477788,269965841,46c1b35e9e7a99fe391c096e87a43677,NaN,14370,T2,2020-08-24 15:39:55 UTC,48034453,SRBS03-4_40.jpg,484.661652,550.373962
318485,278911094,ec6e6d9157dc272dae21504deaa63687,NaN,14370,T2,2020-10-08 15:07:18 UTC,48034455,SRBS03-4_43.jpg,742.105591,531.119507
318488,280834231,28e1c957b094499b9178b64aadab669e,NaN,14370,T2,2020-10-16 07:02:12 UTC,48034455,SRBS03-4_43.jpg,1412.728516,1483.689331
342619,283374116,b35f4fa3408911f68c9c80ba68b8611f,NaN,14370,T2,2020-10-27 21:11:40 UTC,48034465,SRBS03-4_61.jpg,1458.386841,1283.980591
203113,281038044,f81b032a8ed514458a88f8c508dff561,NaN,14370,T2,2020-10-17 00:47:51 UTC,48034467,SRBS03-4_63.jpg,895.856628,1032.248169

In [26]:
# cast x and y to int
df_panotes_point_extractor_r_ex_dropped = df_panotes_point_extractor_r_ex_dropped.astype({'x': 'int32', 'y': 'int32'})
df_panotes_point_extractor_r_ex_dropped

,classification_id,user_name,user_id,workflow_id,task,created_at,subject_id,image_name,x,y
231089,283007416,77dd9c009b5200eea39788f7f15862f0,003abe9e6bb90e03c50377a33f1137a5,14370,T2,2020-10-26 09:28:46 UTC,47974351,SMF02-1-2-2_570.jpg,186,310
372430,271011060,fcbbe951169dc1df0b1f803a199f0995,004eb4442ae5c85fcb6b5c78ed902f41,14370,T2,2020-08-30 16:22:33 UTC,47978494,SFP01_06-2_59.jpg,272,265
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,358,194
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,485,106
503148,286621582,59e4feed8a3a84fb6bfdc5f29a1713b4,006c16c227f4152ffff80d195fca443b,14370,T2,2020-11-12 11:08:10 UTC,47980877,SRL04-1_348.jpg,458,205
...,...,...,...,...,...,...,...,...,...,...
477788,269965841,46c1b35e9e7a99fe391c096e87a43677,NaN,14370,T2,2020-08-24 15:39:55 UTC,48034453,SRBS03-4_40.jpg,484,550
318485,278911094,ec6e6d9157dc272dae21504deaa63687,NaN,14370,T2,2020-10-08 15:07:18 UTC,48034455,SRBS03-4_43.jpg,742,531
318488,280834231,28e1c957b094499b9178b64aadab669e,NaN,14370,T2,2020-10-16 07:02:12 UTC,48034455,SRBS03-4_43.jpg,1412,1483
342619,283374116,b35f4fa3408911f68c9c80ba68b8611f,NaN,14370,T2,2020-10-27 21:11:40 UTC,48034465,SRBS03-4_61.jpg,1458,1283
203113,281038044,f81b032a8ed514458a88f8c508dff561,NaN,14370,T2,2020-10-17 00:47:51 UTC,48034467,SRBS03-4_63.jpg,895,1032

## Check the numbers for a single subject_id

## Analysing the differences between panotes extract and the custom data_prep method
I get [2, 2, 7, 9] for the SFM01-2-2-1_293.jpg - 47969478 with my dataprep
here I have [2, 7, 9] for the same image by only remove "partial iguana" but leaving "could be an iguana, not sure" in there

## Filter for the expert gold standard

In [17]:
from zooniverse.utils.data_format import data_prep
use_gold_standard_subset = "expert_goldstandard"
ds_stats = data_prep(phase_tag=phase_tag, 
                         output_path=output_path, 
                         input_path=input_path,
                         filter_combination=use_gold_standard_subset, 
                         config=config)

ds_stats

2024-04-08 13:19:20.778 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 1st launch

{'retired': None, 'link': 'https://www.flickr.com/photos/hellie55/6713782851', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '3', 'attribution': 'hehaden', 'image_name_1': '6713782851_82fc8c73e5_z.jpg', '#secret_description': 'juvenile kittehs practice break-in at the catnip factory'}
{'retired': None, 'link': 'https://www.flickr.com/photos/davebloggs007/15899553966', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '16', 'attribution': 'davebloggs007', 'image_name_1': '15899553966_5debf88369_z.jpg', '#secret_description': 'makeover kitteh not sure these new contacts are sassy enough'}
{'retired': None, 'link': 'https://www.flickr.com/photos/odoketa/8762013777', 'origin': 'Flickr', 'license': 'Creative Commons - share adapt attribute', 'subject_id': '4', 'attribution': 'David Barber', 'image_name_1': '8762013777_1fa7d91e98_z.jpg', '#secret_description': 'hunter kitteh only willing to go so far to capture the feather duster'}
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478
found 47969478

2024-04-08 13:19:31.596 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Main Workflow

found 47969478
found 47969478
found 47969478

2024-04-08 13:19:33.610 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: survey tool 061417
2024-04-08 13:19:35.861 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 2nd launch
2024-04-08 13:19:41.657 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 3rd launch
2024-04-08 13:20:01.054 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Iguanas 4th launch
2024-04-08 13:20:01.054 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:179 - found a new phase tag: Plastics GS dataset
2024-04-08 13:20:01.075 | INFO     | zooniverse.utils.data_format:read_zooniverse_annotations_v2:263 - generating flat dataframe from the dataset
2024-04-08 13:20:02.883 | INFO     | zooniverse.utils.data_format:data_prep:312 - flat_dataset_Iguanas Iguanas 1st launch.csv: 8260 images in classification for Iguanas 1st launch
2024-04-08 13:20:02.914 | INFO     | zooniverse.utils.data_format:data_prep:321 - images source: found 2737 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1st launch
2024-04-08 13:20:02.918 | INFO     | zooniverse.utils.data_format:data_prep:333 - found 2733 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/expert-GS-1stphase.csv, the expert counts
2024-04-08 13:20:02.919 | INFO     | zooniverse.utils.data_format:data_prep:341 - working with 107 images in /Users/christian/data/zooniverse/Images/Zooniverse_Goldstandard_images/1-T2-GS-results-5th-0s.csv, the goldstandard file.
2024-04-08 13:20:02.920 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:96 - filtering the image dataset for  2737 images
2024-04-08 13:20:02.924 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:99 - working with 1014 images after filtering with image_names
2024-04-08 13:20:02.925 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:102 - filtering the image dataset for  107 subject_ids
2024-04-08 13:20:02.927 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:105 - working with 107 images after filtering with subject_ids
2024-04-08 13:20:04.069 | INFO     | zooniverse.analysis:get_all_image_paths:72 - done with processing Image Metadata.
2024-04-08 13:20:04.095 | WARNING  | zooniverse.utils.filters:filter_remove_marks:38 - removed 64 partial marks
2024-04-08 13:20:04.096 | WARNING  | zooniverse.utils.filters:filter_remove_marks:39 - After filter_func 107 images are left
2024-04-08 13:20:04.098 | INFO     | zooniverse.utils.data_format:process_zooniverse_phases_flat:121 - working with 3047 records after filtering with filter_func
2024-04-08 13:20:04.103 | INFO     | zooniverse.utils.data_format:data_prep:370 - working with 3047 records after process function 'process_zooniverse_phases'
2024-04-08 13:20:04.126 | INFO     | zooniverse.utils.data_format:data_prep:372 - saved finished dataset to /Users/christian/data/zooniverse/2024_04_08_analysis/Iguanas 1st launch/flat_dataset_filtered_Iguanas 1st launch.csv

                                       filename  images
0           flat_dataset_Iguanas 1st launch.csv    8260
1                                    1st launch    2737
2                        expert-GS-1stphase.csv    2733
3                    1-T2-GS-results-5th-0s.csv     107
4  flat_dataset_filtered_Iguanas 1st launch.csv     107

In [18]:
df_flat_data_prep = pd.read_csv(config["flat_dataset"], sep=",", index_col=0)
df_flat_data_prep[df_flat_data_prep.subject_id == subject_id_2]

,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name
flight_site_code,,,,,,,,,,
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,368.550781,314.019531,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,317.347656,328.074219,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,278.011719,311.691406,Partial iguana,Iguanas 1st launch,2137916.0,PatrickWise
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,314.101715,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,297.649719,333.019196,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,308.459686,372.205383,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,357.104614,391.122833,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,358.692902,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,334.133392,335.721680,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,271.976013,160.059494,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,247.653549,172.220734,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,266.571014,180.328217,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,369.232056,313.836273,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,261.927734,160.379562,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,360.468750,312.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,259.468750,177.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,372.212433,398.718628,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,323.482971,385.921143,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,396.577148,315.230316,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,330.183228,334.731262,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,291.808777,317.667938,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,397.186279,351.185120,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans
SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,177.357056,313.744781,"Could be an iguana, not sure",Iguanas 1st launch,1469510.0,Pamelavans

In [19]:
df_merged_data_prep = pd.read_csv(config["merged_dataset"], sep=",", index_col=0)
df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2]

,flight_site_code,workflow_id,workflow_version,image_name,subject_id,x,y,tool_label,phase_tag,user_id,user_name,mission_name,image_path,width,height
1584,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,314.101715,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1585,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,297.649719,333.019196,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1586,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,308.459686,372.205383,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1587,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,357.104614,391.122833,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1588,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,385.480804,358.692902,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1589,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,334.133392,335.721680,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1590,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,271.976013,160.059494,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1591,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,247.653549,172.220734,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1592,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,266.571014,180.328217,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1911549.0,Darkstar1977,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1641,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,369.232056,313.836273,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1642,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,261.927734,160.379562,"Could be an iguana, not sure",Iguanas 1st launch,2165180.0,sopeyJoe1,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1677,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,360.468750,312.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
1678,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,259.468750,177.000000,"Could be an iguana, not sure",Iguanas 1st launch,NaN,not-logged-in-bcac79bef32f402fb848,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2006,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,372.212433,398.718628,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2007,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,323.482971,385.921143,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2008,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,396.577148,315.230316,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2009,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,330.183228,334.731262,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2010,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,291.808777,317.667938,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2011,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,397.186279,351.185120,"Others (females, young males, juveniles and ta...",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649
2012,SFM1,14370,134.236,SFM01-2-2-1_293.jpg,47969478,177.357056,313.744781,"Could be an iguana, not sure",Iguanas 1st launch,1469510.0,Pamelavans,SFM1,/Users/christian/data/zooniverse/Images/Zooniv...,667,649

In [20]:
sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)])

[177,
 247,
 259,
 261,
 266,
 271,
 291,
 297,
 308,
 323,
 330,
 334,
 357,
 360,
 369,
 372,
 385,
 385,
 396,
 397]

In [21]:
sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_dropped.merged_x)])

[177,
 247,
 259,
 261,
 266,
 271,
 291,
 297,
 308,
 323,
 330,
 334,
 357,
 360,
 369,
 372,
 385,
 385,
 396,
 397]

In [22]:
## both methods yield the same coordinate lists
assert sorted([int(x) for x in list(df_merged_data_prep[df_merged_data_prep.subject_id == subject_id_2].x)]) == sorted([int(x) for x in list(df_panotes_point_extractor_r_ex_droped.merged_x)]), "The x coordinates are not the same"